---
title: イケダハヤト氏に限らず、有料noteは相場(笑)よりどんどん高くしていってほしい
tags: business
---
<p>先日、</p>

<p><iframe src="//hatenablog-parts.com/embed?url=http%3A%2F%2Fwebshufu.com%2Fthe-price-of-ikedahayato-note-is-exorbitant%2F" title="イケダハヤト氏の有料noteは、相場より200％以上高い法外なボッタくり価格だった｜FPウェブシュフ" class="embed-card embed-webcard" scrolling="no" frameborder="0" style="display: block; width: 100%; height: 155px; max-width: 500px; margin: 10px 0px;"></iframe><cite class="hatena-citation"><a href="http://webshufu.com/the-price-of-ikedahayato-note-is-exorbitant/">webshufu.com</a></cite></p>

<p>という記事がホッテントリしていました。この記事の主張は下記のただ1点と理解しました。</p>

<ul>
<li>情報量（文字数）こそが価値であり、文字数のわりに価格の高い商品はボッタクリである</li>
</ul>


<p>世の中には様々な本が出ていますが、「この本の著者の主張をまとめると3行で終わるんじゃないか？」というような本もかなりあり、本という体裁を保つ目的で字数稼ぎになっているものが多いように感じています。</p>

<p>そういう本を読み終えると私は思うのです。</p>

<p><strong>お金を出させておいて、そしてさらに（3行で書けるテメーの主張のために）読む時間まで奪っていくのかこの本は？！（倒置法）</strong></p>

<p>時は金なりです。時間があればバイトでもすればお金は作れます。つまり時間を浪費するということはお金を浪費するということと同じです。3行で要約できるなら要約済みの3行の情報にお金を払う方が時間を浪費しない分価値は高いです。</p>

<p>たとえば、「肩こりを和らげる方法」「鼻づまりを一瞬で解消する方法」とか記事が流行ったと思います。このような「情報」は肩こりに悩んで何年も通院している人などにとって、医療費やこれから通院する時間を考慮すると何十万円もの価値ある情報かもしれません。</p>

<p>中学生がタバコ吸って書かされる反省文じゃあるまいし、字数稼ぎじゃなくって、簡潔に有益な情報を伝える商品が価値があると正しく評価されてほしいものです。</p>
