---
title: iPhone SEは日本の携帯電話における歴史的端末になる
tags: Apple, iPhone
---
<p>iPhone SEが発表されました。ぼくは、</p>

<p><strong>iPhone SEは日本の携帯電話における歴史的端末になる</strong></p>

<p>と、そして、「i-mode時代」「ガラケー時代」「スマホ時代（前期）」「スマホ時代（iPhone SE以降）」ぐらいの分かれ目になると思っています。この理由は2つあります。</p>

<h3>スマートフォンの進化に人類が追いついていない</h3>

<p>年々スマートフォンは大画面になる方向に進化してきていますが、人類の手の大きさについては進化していないように思います。人類の手の大きさがスマートフォンの進化に追いついていないというわけです。</p>

<p>iPhone1台ですべてをこなしたいという層には大画面化は価値があるのかもしれませんが、電車通勤する人や両手が使えるときにはMacを触っている層には片手で使えることに価値があると考える人も多いです。</p>

<p>いまぼくはiPhone 6sを使っていますが、滑って落としそうになったり、小指で下を支える持ち方になってしまうので小指が痛くなったり、という弊害も感じています。</p>

<p>そこで、「やっぱり4インチが使いやすい」となるユーザーが一定数いると、Android端末メーカーもまた4インチモデルを作るようになり、「大画面化」の歴史にピリオドが打たれることになります。いまは大画面スマホ以外の選択肢は提供されておらず、その結果として不服ながらも大画面化に流れるユーザーが多いように思います。</p>

<p>個人的には、4インチでもまだ人類には大きいと思っており、iPhone4までの3.5インチが至高だったと今でも信じています。</p>

<h3>携帯電話の売り方がそろそろ限界</h3>

<p>今年の2月から「実質0円」での販売を自粛する流れなのはご存知の通りです。</p>

<p><iframe src="//hatenablog-parts.com/embed?url=http%3A%2F%2Fgarumax.com%2Fmno-price-cut" title="ドコモが実質0円とキャッシュバックを廃止。auとソフトバンクはいつから？" class="embed-card embed-webcard" scrolling="no" frameborder="0" style="display: block; width: 100%; height: 155px; max-width: 500px; margin: 10px 0px;"></iframe><cite class="hatena-citation"><a href="http://garumax.com/mno-price-cut">garumax.com</a></cite></p>

<p>現在、キャリアでiPhone 6sは実質16,000円程度で売られているようです。まだiPhone SEの価格は出てきていませんが、「キャリアが廉価版であるiPhone SEを一体いくらで売ることができるか？」というのを考えたときに、</p>

<ul>
<li>ユーザーはiPhone 6sよりも安い価格を期待する</li>
<li>いっぽうで、0円（かもしくは低価格）で売ることはできない</li>
</ul>


<p>というジレンマに直面することになり、キャリアとしてはかなり苦しい決断になってくるはずです。</p>

<p>そもそも0円端末を支えているのは販売店に支払われる販売奨励金であり、これが通信料の高止まりを支えていたりします。</p>

<p>販売奨励金については次の記事がわかりやすかったです。</p>

<p><iframe src="//hatenablog-parts.com/embed?url=https%3A%2F%2Fkotobank.jp%2Fword%2F%25E8%25B2%25A9%25E5%25A3%25B2%25E5%25A5%25A8%25E5%258A%25B1%25E9%2587%2591-183071" title="販売奨励金(はんばいしょうれいきん)とは - コトバンク" class="embed-card embed-webcard" scrolling="no" frameborder="0" style="display: block; width: 100%; height: 155px; max-width: 500px; margin: 10px 0px;"></iframe><cite class="hatena-citation"><a href="https://kotobank.jp/word/%E8%B2%A9%E5%A3%B2%E5%A5%A8%E5%8A%B1%E9%87%91-183071">kotobank.jp</a></cite></p>

<p>iPhone 5cが日本であまり売れなかったのは、「iPhone 5sより性能が低いにもかかわらず、価格差がほぼないから」だったと思っています。販売奨励金を廃止する気のないキャリアの生き残る道は「今回も同じように価格差をつけずに売る」しかないと思うので、iPhone SEをキャリアから買う人は割高な料金を払って購入することになると思います。そうなってくると、4インチのスマートフォンに需要がそれなりにあるのは事実だと思うので、SIMロックフリーモデルのお得さがより際立ち、MVNOへの移行が進み、業界再編につながりうる端末だと思っています。</p>

<p>販売奨励金という病気から抜け出せないキャリアがiPhone SEをどんな価格で出してくるか楽しみです。</p>

<h3>そのほか</h3>

<p>国内にApple Payを搭載した端末数が増えることと、MasterCardが国内でApple Payビジネスを始めそうだということにも注目です。（おサイフケータイが流行ったときに限定的だったので爆発的な普及は見込めないのかもしれませんが、）携帯端末での決済も変わってくるのかもしれません。</p>

<p><iframe src="//hatenablog-parts.com/embed?url=http%3A%2F%2Fiphone-mania.jp%2Fnews-102060%2F" title="2016年後半、日本でもApple Pay開始？マスターカードが準備中の模様" class="embed-card embed-webcard" scrolling="no" frameborder="0" style="display: block; width: 100%; height: 155px; max-width: 500px; margin: 10px 0px;"></iframe><cite class="hatena-citation"><a href="http://iphone-mania.jp/news-102060/">iphone-mania.jp</a></cite></p>
