---
title: iPhone SEを買うなら選択肢は「16GB」しかない
tags: Apple, iPhone
---
<p><em>この記事は古くなっています。iPhone7の発売に合わせて価格改定され、現在は16GBと64GBの価格差は5,000円しかなく、64GBを買ってもいいかもしれません。</em></p>

<p>この記事のタイトルは下記の記事のパロディです。</p>

<p><iframe src="//hatenablog-parts.com/embed?url=http%3A%2F%2Fwww.itmedia.co.jp%2Fmobile%2Farticles%2F1603%2F22%2Fnews073.html" title="iPhone SEを買うなら選択肢は「64GB」しかない" class="embed-card embed-webcard" scrolling="no" frameborder="0" style="display: block; width: 100%; height: 155px; max-width: 500px; margin: 10px 0px;"></iframe><cite class="hatena-citation"><a href="http://www.itmedia.co.jp/mobile/articles/1603/22/news073.html">www.itmedia.co.jp</a></cite></p>

<p>この手の「iPhoneの容量は大きい方がよい」という論調の記事はけっこう目にします。</p>

<p>私はこれまで、</p>

<ul>
<li>iPhone 3G</li>
<li>iPhone 3GS</li>
<li>iPhone 4</li>
<li>iPhone 4S</li>
<li>iPhone 5</li>
<li>iPhone 5c</li>
<li>iPhone 6</li>
<li>iPhone 5S</li>
<li>iPhone 6s</li>
<li>iPhone SE（本日注文！）</li>
</ul>


<p>と使ってきました。大きい容量のモデルを買ったこともありましたが、ここ最近は「iCloudを活用し、最小容量のモデルを買う」という流れで定着しており、今後もこの方針を変えるつもりはありません。その理由は2つあります。</p>

<h3>理由1：データはiCloudに安全に退避できる</h3>

<p>写真やビデオはiOSから自動的にiCloudに移動させる設定があります。また、端末には縮小版を保持しておき、端末の容量を節約することができます。つまり、端末の容量を気にせず撮りまくり、容量の大きいフルサイズ版はiCloudにある、という状態にすることができます。必要なときには何も意識せずともネットからダウンロードされて表示されます。</p>

<p>「写真やビデオをたくさん撮るから……」と大容量モデルを買う人は、端末が故障したときのことを考えていない人が多いように思います。故障したときには撮ったデータは戻りません。iCloudにデータがあると、Webからダウンロードもできますし、買い替えのときもApple IDひとつで復元できます。撮った写真はお金で買えません。こういった安心はお金に代えられません。</p>

<h3>理由2：端末の容量を上げるよりiCloudの方が安価</h3>

<p>iPhone SEのSIMロックフリー版の価格を見てみましょう。</p>

<table>
<thead>
<tr>
<th style="text-align:center;">容量</th>
<th style="text-align:center;">価格</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:center;">16GB</td>
<td style="text-align:center;">¥52,800</td>
</tr>
<tr>
<td style="text-align:center;">64GB</td>
<td style="text-align:center;">¥64,800</td>
</tr>
</tbody>
</table>


<p>つまり、「48GB増やすために必要なコストが¥12,000」だといえます。iCloudのストレージの価格はどうでしょうか。</p>

<table>
<thead>
<tr>
<th style="text-align:center;">容量</th>
<th style="text-align:center;">価格</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:center;">5GB</td>
<td style="text-align:center;">無料</td>
</tr>
<tr>
<td style="text-align:center;">50GB</td>
<td style="text-align:center;">¥130/月</td>
</tr>
<tr>
<td style="text-align:center;">200GB</td>
<td style="text-align:center;">¥400/月</td>
</tr>
<tr>
<td style="text-align:center;">1TB</td>
<td style="text-align:center;">¥1,300/月</td>
</tr>
</tbody>
</table>


<p>つまり、「45GB増やすために必要なコストが¥130/月」だといえます。iPhone SEを2年使うとしても2年で¥3,120となり、万一それでも容量が足りなくなったときには増やすことも可能です。端末の容量を後から増やすことはできません。</p>

<h3>大容量モデルを買うべき人は、ゲームを何本もインストールする人</h3>

<p>大容量モデルを買うべき人は2通りだと思っています。</p>

<ul>
<li>容量の大きなゲームのアプリを何本もインストールしておきたい人</li>
<li>端末を7年8ヶ月以上使う人（¥130/月のiCloudが端末価格の差額をペイする期間）</li>
</ul>


<p>前者について、コンシューマーゲーム機からiOSに移植されるケースも多く（ロマサガ2も出ましたね）、ゲーム1本でGB単位になるものもあります。こういったゲームを複数インストールしておきたいという人は、他に容量を確保する方法はありませんので大容量モデルを買うべきでしょう。ゲームはあまりしない、クリアしたらアプリは消す、複数インストールしておく必要はない、という方は16GB一択でしょう。</p>
