---
title: まさかのiPhone 6sからiPhone SEに乗り換えて3週間インプレッション
tags: Apple, iPhone, Shopping
---
<p><iframe src="//hatenablog-parts.com/embed?url=http%3A%2F%2Fjapanese.engadget.com%2F2016%2F04%2F19%2Fiphone-6-se-se%2F" title="iPhone 6からSEに機種変更した人はどれくらい？ SEに乗り換える小ささ以外の理由も探ってみた - Engadget Japanese" class="embed-card embed-webcard" scrolling="no" frameborder="0" style="display: block; width: 100%; height: 155px; max-width: 500px; margin: 10px 0px;"></iframe><cite class="hatena-citation"><a href="http://japanese.engadget.com/2016/04/19/iphone-6-se-se/">japanese.engadget.com</a></cite></p>

<p>上記記事によると、iPhone SEは「6からの乗り換えは少なく、5s以前からの乗り換えが多い」とのことですが、ぼくはまさかの6sからの乗り換えを果たしました。</p>

<p>こういう人はあまりいないと思いますので、考えたこと、乗り換えて3週間使った感想を書いてみたいと思います。</p>

<h3>乗り換えの理由は、片手で使えるデバイスを求めているから</h3>

<p>たしかに「iPhone 1台ですべてをこなしたい」という人には、大画面化は歓迎すべきなのかもしれません（ネットワークの高速化に伴って動画や電子書籍のサービスも拡大してきています）。大画面化したモデルの方がよいと感じているユーザーも一定数いるとも思います。</p>

<p>しかし、Macも持っているぼくは、両手が使えるシチュエーションではだいたいMacをさわっています。仕事柄Macを使わなくなることは当面考えられないので、そうすると「両手が使えるときはどうせMacを使っているんだから、片手で使えるデバイスこそ必要である」と強く感じるようになりました。</p>

<h3>感想</h3>

<h4>画面が小さくなることに対して不満はない</h4>

<p>「大画面に慣れている状態で小さくなると不満を感じるかな？」と思っていましたが、小さくなっても特に何も感じませんでした。</p>

<h4>Touch IDが遅くなってストレスとは感じない</h4>

<p>Touch IDが第1世代のものらしいですが、CPUが速くなっているからかそこまで「遅い！」とは感じませんでした。</p>

<h4>3D Touchがなくても不便さは感じない</h4>

<p>日常的に文字入力時のカーソル移動、Safariでリンク先の先読みやアプリの切り替えに3D Touchを使っていましたが、この機能がなくなったからといってストレスは感じませんでした。</p>

<h4>デザインへの満足度が上がった</h4>

<p>iPhone 5Sと同じデザインと言われていますが、これはiPhone 5のときから変わらない、完成されて長く支持されているデザインのように思います。「なんて美しいんだ……」と眺めたりしています。ローズゴールドの色が美しく上品で、カメラの出っ張りもなく洗練されています。</p>

<h4>片手でらくらく操作できるというわけにはいかない</h4>

<p>iPhone 6sに比べると圧倒的に快適性になったものの、右上の隅をタップするときに持ち替えたり指をグッと伸ばしてタップすることもあります。やはり人類の進化に順応できているスマートフォンの大きさはジョブズが作った3.5インチのiPhone 4Sまでだと思っています。</p>

<h4>スクリーンが暗い</h4>

<p>太陽光の下で使うと明らかに「6sより見づらくなった」と感じます。とはいえ見えなくなることはなく、手でさえぎったら普通に見えるので特に大きな問題ではありません。</p>

<p><a href="http://iphone-mania.jp/news-112230/">iPhone SEも値下げされた</a>ことですし、参考になれば幸いです。</p>
