---
title: 「●●できないんですけど」って問い合わせてくるのやめろ
tags: Business
---
<p>「ログインできないんですけどどうしたらいいですか？」のような問い合わせが多すぎ！　それね、</p>

<p><em>「車で行けないんですけどどうしたらいいですか？」って言ってるのと同じだから！！</em></p>

<ul>
<li>免許を持ってないのか</li>
<li>免許は持っているがペーパーなのか</li>
<li>車を持ってないのか</li>
<li>車を持っているが家族の誰かが使っていて使えないのか</li>
<li>車を持っているがトラブルで動かないのか</li>
<li>出発地が車のある場所じゃないのか</li>
<li>目的地の周辺に停めるところがないのか</li>
</ul>


<p>「どうしたらいいか」を判断するための情報が足りていない。どの問題なのかが分からないと解決策の提案ができない。「ああ、それは大変ですね」って返すしかない。</p>

<p>これは質問する人間の「質問力」の問題だと考えています。たとえば、「ログインできないんですけどどうしたらいいですか？」と問い合わせることを考えると、ざっとこんな感じでケースが考えられます。</p>

<ul>
<li>ログインページのURLを忘れてしまったのでログインできない</li>
<li>ログインページを開こうとするとずっとクルクルしてしまって真っ白のままページが表示されないのでログインできない</li>
<li>ログインボタンを押しても何も起こらないのでログインできない</li>
<li>パスワードを忘れてしまったのでログインできない</li>
<li>ユーザー名すら忘れてしまったのでログインできない</li>
<li>以前もらったログイン情報でログインボタンを押すと「ユーザー名またはパスワードが異なります」とエラーが表示されるのでログインできない（エラーメッセージが出た場合、問い合わせのときには必ず全文を伝えなければならない）</li>
</ul>


<p>このように、「できないと判断した根拠」をつけて問い合わせると、スムーズに解決につながります。</p>

<p>専門家は素人の「なんかおかしい」「うまくいかない」のような主観的判断を求めていません。「この操作をしたら、こうなった」という客観的事実のみ伝えてくれればあとは専門家がなんとかしてくれます。</p>
