---
title: 大人の価値観を子供に押し付けないことは難しい
tags: life
---
<p>先日、姪ちゃん（2歳）と買い物に行きました。</p>

<p><iframe src="http://gambaruko.hatenablog.com/embed/2016/02/03/110825" title="おこづかい制を導入して7年目になりました〜長男4才・次男2才から始めたおこづかい制について〜 - がんばる小学生" class="embed-card embed-blogcard" scrolling="no" frameborder="0" style="display: block; width: 100%; height: 190px; max-width: 500px; margin: 10px 0px;"></iframe><cite class="hatena-citation"><a href="http://gambaruko.hatenablog.com/entry/2016/02/03/110825">gambaruko.hatenablog.com</a></cite></p>

<p>この記事に影響を受け、ドキンちゃんのお財布を買ってあげて、2ヶ月ぐらい前から会うたびに300円ずつぐらい勝手にお小遣いを渡していました。</p>

<p>今までガチャポンしか使ったことがなさそうだったので、欲しいものを自分で選んで買うという経験をさせてみようと思い、一緒に買い物に行きました。</p>

<p>子供が欲しがるものに対して「そんなんやめときや」って親の価値観で子供の欲しいものの善悪を判断するのは、子供の成長を阻害するし、子供に対する尊敬を欠いた態度だと考えています。</p>

<p>ただ、いざ駄菓子屋さんに行ったら、姪ちゃん（2歳）はカゴを取り出してやたらいろいろ入れ始めて「ビー玉なんか何に使うねん」「いやそんな変なゴム製の虫の形したオモチャみたいなのいらんやろ」「そんな同じお菓子何個も食べへんやろ」みたいに色々思って、「ちょちょｗｗｗ」みたいになってしまった。</p>

<p>子供からしたらキラキラしたビー玉がキレイで欲しいと思うだろうし、その気持ちを大人に否定されるのはそりゃまあいい経験ではないよなぁ、と。。</p>

<p>「子供の欲しいものに対して大人の価値観を入れるべきではない」と思ってはいたものの、子供の成長を支えるためには、まず大人もちゃんと成長しないといけないと思いました。</p>
