---
title: TOEICは写真なしでも受験できる
tags: tips
---
<p>あまり知られていないので書いてみます。TOEICって、写真貼れとやたら書いてますが、写真がなくても受験できます。</p>

<p>会社で必要など、対外的にスコアを証明する必要がなく（写真なしでも証明書が発行されるのでスコアの証明にはなります）、純粋に英語力の把握のために受験するのであれば、写真を撮るのは時間もお金もただのコストなので削減したいですよね？</p>

<p>受験票に、</p>

<blockquote><p>◆「受験票に貼る写真」と「写真付の本人確認書類」の両方を試験当日にご用意いただけない場合は、受験できません。</p></blockquote>

<p>と記載があって不安になりますが、これは全部否定です。つまり、「いずれか用意すると、受験できる」という意味です。</p>

<p>やり方は、受験票の写真を貼るところに「写真なし＋署名」をし、受付の際に「写真なしでお願いします」と言うだけです。そのあと、受付の人が、蛍光ペンで写真の枠の下に印をつけてくれるので、あとはそのまま受験できます。</p>

<p><span itemscope itemtype="http://schema.org/Photograph"><img src="https://cdn-ak.f.st-hatena.com/images/fotolife/y/youcune/20161210/20161210085831.jpg" alt="f:id:youcune:20161210085831j:plain" title="f:id:youcune:20161210085831j:plain" class="hatena-fotolife" itemprop="image"></span></p>

<p>※これは、ぼくはいつもこうやっている方法であり、ぼくが第261回公開テストで実際に受験した方法です。最新のルールについてはご自身で確認の上、ご自身の判断でお願いします。受験できない等のトラブルが発生しても責任を負いかねます。</p>
