---
title: Keynoteに編集エリアを追加したりプレースホルダについて
---
<p>Keynote中級者以上は「マスタースライド」をいじりながらレイアウトやデザインを変えていくことになろうかと思います。</p>

<p>ここで、マスタースライドをいじっていると、スライドを作成したときに「編集エリア」と表示されるオブジェクトと表示されないオブジェクトが出てくることがあります。「プレースホルダ」との違い、設定方法について説明します。</p>

<p>ここは細かいようですがKeynoteを理解して使う上で大変重要な要素と考えます。この記事は、Keynote バージョン8.0（5576）での説明になります。</p>

<h3>アピアランス</h3>

<p><span itemscope itemtype="http://schema.org/Photograph"><img src="https://cdn-ak.f.st-hatena.com/images/fotolife/y/youcune/20180406/20180406094931.png" alt="&#x30A2;&#x30D4;&#x30A2;&#x30E9;&#x30F3;&#x30B9;" title="f:id:youcune:20180406094931p:plain" class="hatena-fotolife" itemprop="image"></span></p>

<p>「編集エリア」と表示されるようにする特殊なオブジェクトは「アピアランス」で設定します。専用のオブジェクトが作られるので、そのレイアウトを調整します。</p>

<p>このチェックボックスを見てもわかるように、アピアランスは1スライドに各1つずつまでのようです。</p>

<p>アピアランスの設定が入っているオブジェクトを他のマスタにコピーすると、アピアランスの設定が外れてしまうようなので注意しましょう（ぼくはこの挙動はバグだと考えています。将来修正されるかもしれません）。</p>

<h3>プレースホルダ</h3>

<p><span itemscope itemtype="http://schema.org/Photograph"><img src="https://cdn-ak.f.st-hatena.com/images/fotolife/y/youcune/20180406/20180406095407.png" alt="&#x30D7;&#x30EC;&#x30FC;&#x30B9;&#x30DB;&#x30EB;&#x30C0;" title="f:id:youcune:20180406095407p:plain" class="hatena-fotolife" itemprop="image"></span></p>

<p>プレースホルダは画面内に無制限に作ることができます。2段目以降の見出しの書式情報を保持できないなどの制約があるようで、1行テキストなどを想定しているんだと思います。</p>

<p>そのため、目的に合わせて可能な限り「アピアランス」の設定がついたオブジェクトを使用すべきと考えます。</p>
