body{
  > header{
    div{
      margin: 0;

      img{
        margin: 0 auto;
      }
    }
  }

  > div#body{
    background: #ffffff;
    margin: auto;
    max-width: 960px;

    div#main-column{
      header{
        border-bottom: 1px solid #cccccc;

        h2{
          margin-bottom: 0;
        }
      }
      article{
        p{
          img{
            max-width: 100%;
          }
        }
        p.ad-right{
          float: right;
          margin-left: 16px;
        }
      }
    }

    div#sub-column{
      ul{
        margin-left: 0;
        padding-left: 0;
        list-style: none;
      }

      aside#tag-cloud{
        li{
          display: inline;
        }
      }
    }
  }

  > footer{
    margin: 8px auto;
    border-top: 1px solid #cccccc;
    padding-top: 8px;
    max-width: 960px;

    p{
      text-align: center;
    }
  }
}
