@import 'bootstrap-custom';
@import 'font-awesome';

#header {
  #monologo {
    width: 100%;
  }
}

#main-column {
  article {
    header {
      border-bottom: 1px dashed #cccccc;
      margin-bottom: $line-height-computed;

      h2 {
        margin-bottom: 0;
      }

      p {
        margin-bottom: $line-height-computed;
      }
    }

    p {
      img {
        max-width: 100%;
      }

      &.ad-right, &.img-right {
        float: right;
        margin-left: 16px;
      }

      &.dialog-a {
        color: darken($brand-success, 30%);
      }

      &.dialog-b {
        color: darken($brand-danger, 30%);
      }
    }
    strong {
      color: #ff3333;
      font-weight: bold;
    }
  }
}

#sub-column {
  ul {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
  }

  #tag-cloud {
    li {
      display: inline;
    }
  }
}

#footer {
  margin: 8px auto;
  border-top: 1px solid #cccccc;
  padding-top: 8px;

  p {
    text-align: center;
  }
}
