@charset "utf-8";

body{
  background: #000000 url(/images/portal/background.jpg) no-repeat center center fixed;
  color: #333333;
  margin: 0;
  padding: 0;
}
.ui-flickable-wrapper{
  cursor: move;
  background-color: transparent !important;
}
#flicable{
  margin-top: -94px;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 50%;
}
#cards{
  width: 6000px;
}
.card{
  background-color: #ffffff;
  border-color: #000000;
  border-style: solid;
  border-width: 1px 2px 2px 1px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  float: left;
  height: 179px;
  margin-right: 4px;
  width: 296px;
  opacity: 0.9;
  overflow: hidden;
  padding: 12px;
}
.card h1{
  font-size: 20px;
  margin: 0 0 8px;
}
#onepad{
  background: #ffffff url(/images/portal/onepad.png) no-repeat top left scroll;
  padding-top: 52px;
}
#dummy{
  background-color: transparent;
  position: relative;
  border: 0;
  margin: 0;
  padding: 0;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.horizontal li{
  display: inline;
}
pre{
  font-size: 12px;
  line-height: 1.2;
}
