:sass
  // -----------------------------------------------------------------
  // Variables
  // -----------------------------------------------------------------
  $enable-rounded: false
  $primary: #4CB55B
  $font-family-serif: Georgia,游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN",HGS明朝E,serif
  $spacer-lg: 4rem

  // ライトなGrid
  $grid-breakpoints: (sm: 0, md: 768px)
  $container-max-widths: (sm: 540px, md: 720px)
  $grid-columns: 6

  @import 'source/stylesheets/bootstrap/functions'
  @import 'source/stylesheets/bootstrap/variables'

  $theme-colors: ('primary': $primary, 'twitter': #1b95e0, 'hatena': #00a4de, 'facebook': #365899, 'github': #24292e)

  // -----------------------------------------------------------------
  // Bootstrap
  // -----------------------------------------------------------------
  @import 'source/stylesheets/bootstrap/mixins'
  //@import 'source/stylesheets/bootstrap/root'
  //@import 'source/stylesheets/bootstrap/reboot'
  //@import 'source/stylesheets/bootstrap/type'
  //@import 'source/stylesheets/bootstrap/images'
  @import 'source/stylesheets/bootstrap/code'
  @import 'source/stylesheets/bootstrap/grid'
  //@import 'source/stylesheets/bootstrap/tables'

  //
  // Basic Bootstrap table
  //

  table
    width: 100%
    max-width: 100%
    margin-bottom: $spacer
    background-color: $table-bg // Reset for nesting within parents with `background-color`.
    border: $table-border-width solid $table-border-color
    border-collapse: collapse

    th, td
      padding: $table-cell-padding
      vertical-align: top
      border-top: $table-border-width solid $table-border-color
      border: $table-border-width solid $table-border-color

    thead
      th
        vertical-align: bottom
        border-bottom: (2 * $table-border-width) solid $table-border-color

      th, td
        border-bottom-width: (2 * $table-border-width)

    @include media-breakpoint-down(sm)
      display: block
      width: 100%
      overflow-x: auto
      -webkit-overflow-scrolling: touch
      -ms-overflow-style: -ms-autohiding-scrollbar // See https://github.com/twbs/source/stylesheets/bootstrap/pull/10057

      // Prevent double border on horizontal scroll due to use of `display: block;`
      > .table-bordered
        border: 0

  //@import 'source/stylesheets/bootstrap/forms'
  @import 'source/stylesheets/bootstrap/buttons'
  //@import 'source/stylesheets/bootstrap/transitions'
  //@import 'source/stylesheets/bootstrap/dropdown'
  //@import 'source/stylesheets/bootstrap/button-group'
  //@import 'source/stylesheets/bootstrap/input-group'
  //@import 'source/stylesheets/bootstrap/custom-forms'
  //@import 'source/stylesheets/bootstrap/nav'
  //@import 'source/stylesheets/bootstrap/navbar'
  @import 'source/stylesheets/bootstrap/card'
  //@import 'source/stylesheets/bootstrap/breadcrumb'
  //@import 'source/stylesheets/bootstrap/pagination'
  //@import 'source/stylesheets/bootstrap/badge'
  //@import 'source/stylesheets/bootstrap/jumbotron'
  //@import 'source/stylesheets/bootstrap/alert'
  //@import 'source/stylesheets/bootstrap/progress'
  //@import 'source/stylesheets/bootstrap/media'
  //@import 'source/stylesheets/bootstrap/list-group'
  //@import 'source/stylesheets/bootstrap/close'
  //@import 'source/stylesheets/bootstrap/modal'
  //@import 'source/stylesheets/bootstrap/tooltip'
  //@import 'source/stylesheets/bootstrap/popover'
  //@import 'source/stylesheets/bootstrap/carousel'
  //@import 'source/stylesheets/bootstrap/utilities'
  //@import 'source/stylesheets/bootstrap/print'

  // -----------------------------------------------------------------
  // Cards
  // -----------------------------------------------------------------
  .card
    color: $body-color

  .card-title
    margin-top: 0

  .card-columns
    @include media-breakpoint-only(md)
      column-count: 2
    @include media-breakpoint-only(sm)
      column-count: 2

  // -----------------------------------------------------------------
  // Buttons
  // -----------------------------------------------------------------
  .btn-xs
    @include button-size(2px, 4px, 12px, 14px, $btn-border-radius-sm)
    font-family: $font-family-sans-serif

  // -----------------------------------------------------------------
  // Reset
  // -----------------------------------------------------------------
  *
    box-sizing: border-box
    font-family: $font-family-serif

  h1, h2, h3, h4, h5, h6, p
    color: $body-color

  img
    vertical-align: middle

  // -----------------------------------------------------------------
  // Layout
  // -----------------------------------------------------------------
  .container
    max-width: 1110px
    margin: 0 auto

    > header
      margin: $spacer-lg 0

    > footer
      color: $gray-500
      font-size: $font-size-sm

  // -----------------------------------------------------------------
  // Article
  // -----------------------------------------------------------------
  article
    max-width: 800px
    margin: 0 auto $spacer-lg
    line-height: 1.732
    text-align: justify

    img
      width: 100%
      height: auto

    > header
      margin-bottom: $spacer-lg

      h1
        margin-bottom: 0

      p
        margin-top: 0

    > footer
      margin-top: $spacer-lg

  // -----------------------------------------------------------------
  // Type
  // -----------------------------------------------------------------
  a
    text-decoration: none
    color: $primary
    &:focus, &:hover, &:active
      text-decoration: underline

  .meta
    color: $gray-500
    font-size: $font-size-sm

    time
      margin-right: 0.5rem

  hr
    border: 0
    text-align: center
    margin: $spacer
    &:after
      content: '◆'
      display: inline-block
      color: $gray-400
      font-size: $font-size-sm

  // -----------------------------------------------------------------
  // Lists
  // -----------------------------------------------------------------
  .list-unstyled, .list-inline
    @include list-unstyled

  .list-inline > li
    display: inline-block

    &:not(:last-child)
      margin-right: $list-inline-padding

  // -----------------------------------------------------------------
  // Cards
  // -----------------------------------------------------------------
  .card-columns
    @include media-breakpoint-down(sm)
      column-count: 1

    @include media-breakpoint-only(md)
      column-count: 3
