<% wrap_layout :mono do %>
  <article>
    <header>
      <h2><%= current_page.data.title %></h2>
      <p>
        <i class="fa fa-clock-o"></i><%= format_date current_page.data.date %>
        <i class="fa fa-tag"></i><%= blog_tag_links(current_page.data.tags.split(/,/)) %>
      </p>
    </header>
    <%= yield %>
    <footer>
      <div class="ninja_onebutton">
        <script type="text/javascript">
          //<![CDATA[
          (function(d){
            if(typeof(window.NINJA_CO_JP_ONETAG_BUTTON_4c05e0de9d16a1fe6e97161a3423d00e)=='undefined'){
              document.write("<sc"+"ript type='text\/javascript' src='http:\/\/omt.shinobi.jp\/b\/4c05e0de9d16a1fe6e97161a3423d00e'><\/sc"+"ript>");
            }else{
              window.NINJA_CO_JP_ONETAG_BUTTON_4c05e0de9d16a1fe6e97161a3423d00e.ONETAGButton_Load();}
          })(document);
          //]]>
        </script><span class="ninja_onebutton_hidden" style="display:none;"></span><span style="display:none;" class="ninja_onebutton_hidden"></span>
      </div>
    </footer>
  </article>
<% end %>
