---
title: au からみおふぉんに MNP したスケジュールと注意点と使い勝手
date: 2014-10-08
modify_date: 2014-12-19
tags: iPhone
---

%h3 みおふぉんに MNP しました
%p <a href="ordered-iphone6.html">iPhone 6 にした理由、みおふぉんにした理由は前回書いた</a> とおりです。今回は申し込みの日程と注意すべきことや速度を含めた使い勝手について書いてみたいと思います。
%h3 受け取りまでは5日程度
%p 申し込みから受け取りまでちょうど5日かかりました。下記スケジュールで進みました。もしかしたら本人確認をもっと早くすれば1日縮んだかもしれません。
%h4 10/02 9時頃 MNP 予約番号取得
%p <a href="http://www.au.kddi.com/support/mobile/procedure/contract/cancel/">au に電話し MNP 予約番号をもらい</a>ました。「次はどちらへ？」ときかれて「IIJmioです」と答えたら一瞬の静寂が訪れました。<a href="http://smakoji.info/archives/383">噂</a>の「1万ポイントあげる」も発動しました。
%h4 10/02 09:44 申し込み
%p MNP 予約番号を入力し申し込み。引っ越したばかりで免許証の住所が古いままだったので、本人確認書類が必要と言われ急遽記載事項変更の手続きに出向きました。
%h4 10/02 17:58 本人確認書類アップロード
%p システムから運転免許証の画像をアップロードしました。
%h4 10/03 15:15 本人確認完了
%p 本人確認が完了したとのメールを受信。
%h4 10/05 19:27 電話番号停止予告
%p 「これから MNP 移転作業をするため、回線が数時間から1日以内程度で停止する」旨のメールを受信しました。
%h4 10/06 日中 回線停止
%p ずっと無線 LAN につないでおり、また、回線が停止してもアンテナピクトが消えないのでどのタイミングで停止になったのかはわかりませんでした。
%h4 10/07 06:10 利用開始日確定
%p 「今日届くよ」とのこと。
%h4 10/07 08:59 受け取り
%p まもなく到着。 <a href="https://www.iijmio.jp/hdd/service/config.jsp">構成プロファイル</a> をインストールして使用開始。

%h3 LINE の年齢認証はお忘れなく！
%p 注意事項です。おそらく iPhone 6 の端末を先に入手してから申し込むとは思いますが、 MNP の回線が停止する前に au の SIM を挿して下記実施しておきましょう。
%ul
  %li 端末のアクティベーション（まあしなくてもいいですが、 SIM が届くまで iPhone は文鎮になります。ちょっと使ってみたいよね！）
  %li LINE を使う方は新しい端末で LINE の年齢認証（キャリアの SIM でないと年齢認証できません！）
  %li どうやっても1日程度は回線が止まってしまうので、よく連絡を取る方に連絡
  %li キャリアのメールアドレスがなくなる準備（ @gmail.com, @icloud.com にするなど……）

%h3 SMARTalk と組み合わせて留守電を実現
%p みおふぉん単体に留守番電話の機能はありませんが、 <a href="http://n2apps.jp/miophone-rusuban-denwa-1059">「みおふぉん」で、留守番電話を使う方法【IIJmio 非公式】 | n2apps.jp</a> を参考に同じようにやってみました。留守電の音声ファイルがメールで届くってちょっと新鮮で良かったです。

%h3 時間帯によって遅いがおおむね快適
%p 以下思ったことなど（個人の感想です）。
%ul
  %li 特にお昼どきに遅くなる傾向にあるが、切れることはない。
  %li 縛られず使えて便利。
  %li iPhone と iPad を合わせて 月 3,260 円で合計 7GB 使えるのはすばらしい。
  %li みおふぉんの通信量を確認できる公式のアプリがなかなかよくできていて使いやすい。

.alert.alert-warning 2014/12/19 以前この記事には「時間帯によって遅いので現状オススメできる状態ではない」と書いていましたが、2ヶ月使ってみて「遅くなることもあるが切れることはなく、速い時間帯は普通に速いし、価格を考えても費用対効果が高い」と考えが変わってきたため書き換えさせていただきました。
