---
title: 僕がいろいろ悩んだ結果 iPhone 6 を予約した理由
date: 2014-10-03
tags: Column,iPhone
---

%h3 iPhone 6 を買いました
%p 発表から今までいろいろ悩んだ結果、
%ul
  %li iPhone 6
  %li SIM ロックフリーモデル
  %li シルバー
  %li 16GB
  %li みおふぉん運用
%p という結論を出したので Apple Store で予約しました。今日はこのそれぞれに対して「なぜそれを選んだのか」をすべて書いていきたいと思います。

%h3 iPhone 6 にした理由
%p iPhone 6 と iPhone 6 Plus でひとしきり悩みましたが、下記が決め手となり iPhone 6 にしました。
%ul
  %li そもそも僕は iPhone で動画を見ない
  %li 片手で操作できる端末は欲しい
%p iPhone 6 Plus ですべてをこなしたい人にとって、 iPhone 6 Plus はすばらしい端末だと思います。でも僕はたとえ iPhone が大型化したとしても Mac がいらなくなるとは思えません。これからも Mac が得意なことは Mac を使っていくと思い、今の「片手で使える大きさの端末」が必要ということで iPhone 6 にしました。

%h3 SIM ロックフリーモデルにした理由
%ul
  %li キャリアの2年縛りのタイミングが来たので、「このタイミングを逃すとまた2年解約のハードルが上がるので解約しないともったいない」と感じた
  %li 変化の速い業界なので、2年縛られることによる損失が大きいと感じた
  %li 2年以上使うならキャリアから買うのは圧倒的に損で、買うペースをキャリアに支配される

%h3 シルバーにした理由
%p 一緒に買った赤いレザーのカバーに映えそうだったので。

%h3 16GB にした理由
%ul
  %li 僕は結局毎年新しい iPhone を買っている。毎年買うものなら安い方がよい
  %li そもそも音楽や動画をたくさんいれる必要はない。とくに LTE になったらクラウドを工夫すれば端末の容量は不要

%h3 みおふぉんにした理由
%ul
  %li docomo は通話定額プランしか準備しておらず（他社も今は選択できるが近いうちに通話定額プランのみになる）、利用の少ないユーザが多いユーザを支える構造を崩さないキャリアから買いたくなかった
  %li いま iPhone は 3GB/月 ほどしか使用しておらず、 7GB 分の料金が課されている
  %li キャリアは今後通話定額プランの流れを推しており、通話しない僕には不公平なプランになる（なぜパケットの不公平さを改善したら次は通話料の不公平プランにするのか。客単価を減らせないんだろうなー）
  %li MVNO では b-mobile がよいと思っていたが、 <a href="https://www.iijmio.jp/dataup/">データ増量</a> が発表された
  %li みおふぉんは iOS 8 が出てすぐ動作検証をし対応を表明しており、変化の速い業界で信頼できると思った
  %li テザリング対応
  %li 現在 iPad mini も MVNO で契約しており、みおふぉんの SIM 3枚のプランにすると iPad mini の契約をまとめられそう

%p という感じでしょうか。 iPhone 6 は昨日届き、ぼちぼち快適に使えています。みおふぉんへの申し込みプロセスとか使用感、速度などについては後日また書きます。
