---
title: Yo のアイコン作った
date: 2014-07-04
tags: Info,Yo
---

%p <a href="http://wolfrosch.com/works/webdesign/socialicons">ミニ・ソーシャル・アイコン</a> に並べられるように <a href="http://justyo.co/">Yo</a> のアイコンを作ったのでご自由に使ってください。パブリックドメインです。

%p= image_tag('mini_social_icons/yo.png', alt: 'Yo', width: 20, height: 20)
