---
title: 今回の無印良品週間で買ったもの
tags: shopping
---
<p>本日から無印良品週間ですね！　ぼくは1ヶ月以上前から温めていた無印良品ネットストアのカートを全部注文しました（無印良品ネットストアは、ログインした状態でカートに入れておくと保持しといてくれる）。今回の合計は下記になります。</p>

<p><span itemscope itemtype="http://schema.org/Photograph"><img src="https://cdn-ak.f.st-hatena.com/images/fotolife/y/youcune/20170310/20170310120352.png" alt="f:id:youcune:20170310120352p:plain" title="f:id:youcune:20170310120352p:plain" class="hatena-fotolife" itemprop="image"></span></p>

<p>「買ったもの教えて」と言われたので、18点全部紹介してみます（笑）。余談ですが、このブログの「monolog」というタイトルですが、「自分の本当に好きなモノを紹介したい」と思って名付けていました。なかなかできていなくて今回が初めてのような気がしますがｗｗｗ</p>

<h3>まず定番スタッキングシェルフ</h3>

<p>ぼくはスタッキングシェルフが大好きで、3個目ですｗ。うちのキッチンは食洗機がかなりスペースを専有してしまっているので、後ろ側に設置してカウンターキッチン風にしようと思っています。すべてウォールナット。スタッキングシェルフのウォールナットを使い始めてから、ウォールナット素材が好きになりすぎました。</p>

<p><iframe src="//hatenablog-parts.com/embed?url=https%3A%2F%2Fwww.muji.net%2Fstore%2Fcmdty%2Fdetail%2F4549337265622" title="スタッキングシェルフ・２段・ウォールナット材　幅４２×奥行２８．５×高さ８１．５ｃｍ | 無印良品ネットストア" class="embed-card embed-webcard" scrolling="no" frameborder="0" style="display: block; width: 100%; height: 155px; max-width: 500px; margin: 10px 0px;"></iframe><cite class="hatena-citation"><a href="https://www.muji.net/store/cmdty/detail/4549337265622">www.muji.net</a></cite>
<iframe src="//hatenablog-parts.com/embed?url=https%3A%2F%2Fwww.muji.net%2Fstore%2Fcmdty%2Fdetail%2F4549337265653" title="スタッキングシェルフ・追加２段・ウォールナット材　幅４０×奥行２８．５×高さ８１．５ｃｍ | 無印良品ネットストア" class="embed-card embed-webcard" scrolling="no" frameborder="0" style="display: block; width: 100%; height: 155px; max-width: 500px; margin: 10px 0px;"></iframe><cite class="hatena-citation"><a href="https://www.muji.net/store/cmdty/detail/4549337265653">www.muji.net</a></cite></p>

<p>このセットで、2×2になります。イメージは「田」です。パーツとしてスタッキングシェルフにピッタリ入るスタッキングチェストも購入。</p>

<p><iframe src="//hatenablog-parts.com/embed?url=https%3A%2F%2Fwww.muji.net%2Fstore%2Fcmdty%2Fdetail%2F4549337414778" title="スタッキングチェスト・引出し・４段／ウォールナット材　幅３７×奥行２８×高さ３７ｃｍ | 無印良品ネットストア" class="embed-card embed-webcard" scrolling="no" frameborder="0" style="display: block; width: 100%; height: 155px; max-width: 500px; margin: 10px 0px;"></iframe><cite class="hatena-citation"><a href="https://www.muji.net/store/cmdty/detail/4549337414778">www.muji.net</a></cite></p>

<p>ちょっと値段は張るのですが、この高級感と満たされる所有欲は筆舌に尽くしがたい（この日本語の使い方合ってますか？）。本当に美しくて、眺めたり撫でたりしています。</p>

<h3>その他収納用品</h3>

<p>1月の引っ越し前後でいろいろと整理していて、「どこに属するか定位置が決めづらい小物」が結構あることに気づきました。その小物の整理のため、「試しに買ってみた」というぐらいなのですが、下記3つを購入しました。実際に買って使ってみないと自分のライフスタイルに合うかどうかイメージできなくて、「買ったはいいけどあんまり使えない……」ということも多いので、いきなり全部そろえず、1個からスタートすることにしていますｗ</p>

<p><iframe src="http://www.simple-home.net/embed/2017/02/08/142636" title="無印のPPボックスで、見ためも整理。リビング＆キッチン。 - 心を楽に、シンプルライフ" class="embed-card embed-blogcard" scrolling="no" frameborder="0" style="display: block; width: 100%; height: 190px; max-width: 500px; margin: 10px 0px;"></iframe><cite class="hatena-citation"><a href="http://www.simple-home.net/entry/2017/02/08/142636">www.simple-home.net</a></cite></p>

<p>先日この記事を読んで、クローゼットにスッキリおさまりそうだったので買ってみました。</p>

<p><iframe src="//hatenablog-parts.com/embed?url=https%3A%2F%2Fwww.muji.net%2Fstore%2Fcmdty%2Fdetail%2F4547315556366" title="ポリプロピレンファイルボックス・スタンダードタイプ・Ａ４用・ホワイトグレー　約幅１０×奥行３２×高さ２４ｃｍ | 無印良品ネットストア" class="embed-card embed-webcard" scrolling="no" frameborder="0" style="display: block; width: 100%; height: 155px; max-width: 500px; margin: 10px 0px;"></iframe><cite class="hatena-citation"><a href="https://www.muji.net/store/cmdty/detail/4547315556366">www.muji.net</a></cite>
<iframe src="//hatenablog-parts.com/embed?url=https%3A%2F%2Fwww.muji.net%2Fstore%2Fcmdty%2Fdetail%2F4549738907602" title="ポリプロピレンファイルボックス・スタンダードタイプ・ワイド・Ａ４用ホワイトグレー　約幅１５×奥行３２×高さ２４ｃｍ | 無印良品ネットストア" class="embed-card embed-webcard" scrolling="no" frameborder="0" style="display: block; width: 100%; height: 155px; max-width: 500px; margin: 10px 0px;"></iframe><cite class="hatena-citation"><a href="https://www.muji.net/store/cmdty/detail/4549738907602">www.muji.net</a></cite></p>

<p>あとこれ。いま同じ大きさのをすでに使っているので、それに重ねて使おうと思って買いました（2個）。</p>

<p><iframe src="//hatenablog-parts.com/embed?url=https%3A%2F%2Fwww.muji.net%2Fstore%2Fcmdty%2Fdetail%2F4548076748984" title="ポリプロピレンケース・引出式・浅型・２個（仕切付）　（Ｖ）約幅２６×奥行３７×高さ１２ｃｍ | 無印良品ネットストア" class="embed-card embed-webcard" scrolling="no" frameborder="0" style="display: block; width: 100%; height: 155px; max-width: 500px; margin: 10px 0px;"></iframe><cite class="hatena-citation"><a href="https://www.muji.net/store/cmdty/detail/4548076748984">www.muji.net</a></cite></p>

<p>これでごちゃごちゃしてる小物はだいぶスッキリするかな……？</p>

<h3>インテリア</h3>

<p>おー、これデスクに置いたらかわいくない？！　衝動買いです。</p>

<p><iframe src="//hatenablog-parts.com/embed?url=https%3A%2F%2Fwww.muji.net%2Fstore%2Fcmdty%2Fdetail%2F4547315832682" title="ブナ材時計（アラーム機能付）　置時計 | 無印良品ネットストア" class="embed-card embed-webcard" scrolling="no" frameborder="0" style="display: block; width: 100%; height: 155px; max-width: 500px; margin: 10px 0px;"></iframe><cite class="hatena-citation"><a href="https://www.muji.net/store/cmdty/detail/4547315832682">www.muji.net</a></cite>
<iframe src="//hatenablog-parts.com/embed?url=https%3A%2F%2Fwww.muji.net%2Fstore%2Fcmdty%2Fdetail%2F4547315832699" title="ブナ材温湿度計　置型 | 無印良品ネットストア" class="embed-card embed-webcard" scrolling="no" frameborder="0" style="display: block; width: 100%; height: 155px; max-width: 500px; margin: 10px 0px;"></iframe><cite class="hatena-citation"><a href="https://www.muji.net/store/cmdty/detail/4547315832699">www.muji.net</a></cite></p>

<p>番外編。これも欲しくてカートに入れておいたんですが、買うときには在庫がなくなってしまっていました……。</p>

<p><iframe src="//hatenablog-parts.com/embed?url=https%3A%2F%2Fwww.muji.net%2Fstore%2Fcmdty%2Fdetail%2F4549738916604" title="ＭＤＦティシューボックス　約幅２６５ｘ奥行１３５ｘ高さ７２ｍｍ | 無印良品ネットストア" class="embed-card embed-webcard" scrolling="no" frameborder="0" style="display: block; width: 100%; height: 155px; max-width: 500px; margin: 10px 0px;"></iframe><cite class="hatena-citation"><a href="https://www.muji.net/store/cmdty/detail/4549738916604">www.muji.net</a></cite></p>

<h3>パッケージがダサすぎ問題</h3>

<p>日本の製品ってパッケージがダサいと常々思っています。</p>

<p><blockquote class="twitter-tweet" data-lang="ja"><p lang="ja" dir="ltr">シャンプーのパッケージがダサすぎ問題は世間に認知されてきてオシャレなディスペンサーとか売ってるけど、洗濯用の液体洗剤用のキャップついてるようなやつはないのかな。。 <a href="https://t.co/uP1i5LOivj">pic.twitter.com/uP1i5LOivj</a></p>&mdash; なかにしゆう (@youcune) <a href="https://twitter.com/youcune/status/838892534310952961">2017年3月6日</a></blockquote><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></p>

<p>そこで、ダサいと感じたものを無印で検索して置き換えを図りました。今回のターゲットは洗面所です。ボトルにはハンドソープいれます。</p>

<p><iframe src="//hatenablog-parts.com/embed?url=https%3A%2F%2Fwww.muji.net%2Fstore%2Fcmdty%2Fdetail%2F4945247506785" title="ＰＥＴ詰替ボトル・泡タイプ・ホワイト・４００ｍｌ用　４００ｍｌ用 | 無印良品ネットストア" class="embed-card embed-webcard" scrolling="no" frameborder="0" style="display: block; width: 100%; height: 155px; max-width: 500px; margin: 10px 0px;"></iframe><cite class="hatena-citation"><a href="https://www.muji.net/store/cmdty/detail/4945247506785">www.muji.net</a></cite>
<iframe src="//hatenablog-parts.com/embed?url=https%3A%2F%2Fwww.muji.net%2Fstore%2Fcmdty%2Fdetail%2F4549337185425" title="歯みがき　１２０ｇ | 無印良品ネットストア" class="embed-card embed-webcard" scrolling="no" frameborder="0" style="display: block; width: 100%; height: 155px; max-width: 500px; margin: 10px 0px;"></iframe><cite class="hatena-citation"><a href="https://www.muji.net/store/cmdty/detail/4549337185425">www.muji.net</a></cite>
<iframe src="//hatenablog-parts.com/embed?url=https%3A%2F%2Fwww.muji.net%2Fstore%2Fcmdty%2Fdetail%2F4945247595444" title="ウェットティシュー・ボトルタイプ　１００枚（約１４０×２００ｍｍ） | 無印良品ネットストア" class="embed-card embed-webcard" scrolling="no" frameborder="0" style="display: block; width: 100%; height: 155px; max-width: 500px; margin: 10px 0px;"></iframe><cite class="hatena-citation"><a href="https://www.muji.net/store/cmdty/detail/4945247595444">www.muji.net</a></cite></p>

<p>ちなみにこれは無印ではないんですが、この洗濯用洗剤たちはこんな感じになりました（そうすると今度はうしろの詰め替え用が気になるｗ）。</p>

<p><blockquote class="twitter-tweet" data-lang="ja"><p lang="ja" dir="ltr">(*´Д`)ﾊｧﾊｧ <a href="https://t.co/nCR9Dj04Y3">pic.twitter.com/nCR9Dj04Y3</a></p>&mdash; なかにしゆう (@youcune) <a href="https://twitter.com/youcune/status/840044643647594496">2017年3月10日</a></blockquote><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></p>

<p>買ったのはこれです。</p>

<p><iframe src="//hatenablog-parts.com/embed?url=http%3A%2F%2Fitem.rakuten.co.jp%2Fmon-o-tone%2Fsquarelaundry%2F" title="【楽天市場】四角いランドリーボトル：mon・o・tone　楽天市場店" class="embed-card embed-webcard" scrolling="no" frameborder="0" style="display: block; width: 100%; height: 155px; max-width: 500px; margin: 10px 0px;"></iframe><cite class="hatena-citation"><a href="http://item.rakuten.co.jp/mon-o-tone/squarelaundry/">item.rakuten.co.jp</a></cite></p>

<h3>小物</h3>

<p>これ、歯ブラシ立てるだけじゃなく、印鑑やボールペンとかにも使えて万能です。4個目の購入ですｗ</p>

<p><iframe src="//hatenablog-parts.com/embed?url=https%3A%2F%2Fwww.muji.net%2Fstore%2Fcmdty%2Fdetail%2F4934761390772" title="白磁歯ブラシスタンド　１本用　約直径４×高さ３ｃｍ | 無印良品ネットストア" class="embed-card embed-webcard" scrolling="no" frameborder="0" style="display: block; width: 100%; height: 155px; max-width: 500px; margin: 10px 0px;"></iframe><cite class="hatena-citation"><a href="https://www.muji.net/store/cmdty/detail/4934761390772">www.muji.net</a></cite></p>

<p>はさみ（2本）とマスキングテープを買いました。はさみはデザインが気に入っていてリピートです。</p>

<p><iframe src="//hatenablog-parts.com/embed?url=https%3A%2F%2Fwww.muji.net%2Fstore%2Fcmdty%2Fdetail%2F4548076883258" title="ステンレスはさみ　フッ素樹脂加工・全長約１５．５ｃｍクリア | 無印良品ネットストア" class="embed-card embed-webcard" scrolling="no" frameborder="0" style="display: block; width: 100%; height: 155px; max-width: 500px; margin: 10px 0px;"></iframe><cite class="hatena-citation"><a href="https://www.muji.net/store/cmdty/detail/4548076883258">www.muji.net</a></cite>
<iframe src="//hatenablog-parts.com/embed?url=https%3A%2F%2Fwww.muji.net%2Fstore%2Fcmdty%2Fdetail%2F4548718957927" title="マスキングテープ　３本組（エンジ・ベージュ・グレー） | 無印良品ネットストア" class="embed-card embed-webcard" scrolling="no" frameborder="0" style="display: block; width: 100%; height: 155px; max-width: 500px; margin: 10px 0px;"></iframe><cite class="hatena-citation"><a href="https://www.muji.net/store/cmdty/detail/4548718957927">www.muji.net</a></cite></p>

<p>あと加湿器に入れるエッセンシャルオイル。ぼくはスッキリ系がすきで、グレープフルーツはリピートです。</p>

<p><iframe src="//hatenablog-parts.com/embed?url=https%3A%2F%2Fwww.muji.net%2Fstore%2Fcmdty%2Fdetail%2F4549337758377" title="エッセンシャルオイル・グレープフルーツ　（新）１０ｍｌ | 無印良品ネットストア" class="embed-card embed-webcard" scrolling="no" frameborder="0" style="display: block; width: 100%; height: 155px; max-width: 500px; margin: 10px 0px;"></iframe><cite class="hatena-citation"><a href="https://www.muji.net/store/cmdty/detail/4549337758377">www.muji.net</a></cite>
<iframe src="//hatenablog-parts.com/embed?url=https%3A%2F%2Fwww.muji.net%2Fstore%2Fcmdty%2Fdetail%2F4549337758353" title="エッセンシャルオイル・スウィートオレンジ　（新）１０ｍｌ | 無印良品ネットストア" class="embed-card embed-webcard" scrolling="no" frameborder="0" style="display: block; width: 100%; height: 155px; max-width: 500px; margin: 10px 0px;"></iframe><cite class="hatena-citation"><a href="https://www.muji.net/store/cmdty/detail/4549337758353">www.muji.net</a></cite></p>

<p>みなさんもおすすめの無印があればおしえてください٩(o^ω<sup>o</sup>)و</p>
