---
title: LINE Payのみどりくじの施策でLINE辞めたみが100倍になった
tags: Business
---
<p>このときからLINEをやめたいやめたいと思っていたが、そろそろ本気でやめようと思います。</p>

<p><blockquote class="twitter-tweet" data-lang="ja"><p lang="ja" dir="ltr">「これからもずっとLINEしよう」とか言ってるけどこういうの出てくるたびに僕はLINE辞めることについて想いを馳せるよ。 <a href="https://t.co/wImgVMkYf8">pic.twitter.com/wImgVMkYf8</a></p>&mdash; なかにしゆう (@youcune) <a href="https://twitter.com/youcune/status/845022715228504064">2017年3月23日</a></blockquote><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></p>

<p>まず、このようなポップアップは、自社の利益のために利用者の時間を奪う行為であり、ぼくは窃盗と同じだと考えています。他のサービスであれば利用しなくなって終わりでいいんですが、LINEのようなもはやインフラとも言え、他に選択の余地のないサービスのやることではないと考えています。</p>

<p>あと、「ニュース」と「タイムライン」に新着アイコンがつくのも同じ理由で許しがたい。</p>

<p>そこで、今回みどりくじの施策でまたこの時間を奪うポップアップが出た上、このメッセージでまじ絶縁を決意しました。</p>

<p><span itemscope itemtype="http://schema.org/Photograph"><img src="https://cdn-ak.f.st-hatena.com/images/fotolife/y/youcune/20170503/20170503100447.png" alt="f:id:youcune:20170503100447p:plain" title="f:id:youcune:20170503100447p:plain" class="hatena-fotolife" itemprop="image"></span></p>

<p>しかも、ブロックできない。ブロックできたとしてもブロックする手間がかかる分、到底許容できないのに、ブロックすらできない（LINEは本当にユーザーのほうを見ておらず、自社の利益しか見ていないなーと思ったし、こういう施策は短期的には利益につながるかもしれないが、長期的には負債になると思っています）。</p>

<p>……とはいえ、みんな使っているから自分ひとりの一存ではなかなかそうはいかないというところがハードルでした。</p>

<p>ということで、まずはLINE依存度を下げるため、LINEのすべての通知をオフにし、会員数を増やす施策だったであろうLINE Payの解約を行いました。今後は、僕がLINEで誰かに連絡を取りたいと思ったときにしか開きません。「なかにしゆうはLINE送っても応答がない」と思ってもらい、別の連絡手段に徐々に流れていく計画です。</p>

<p>代替手段ですが、メールはやりとりが追いづらい、「お疲れ様です、だれだれです」とか、引用がずらずら連なっていくところとかだいぶ消耗するとも思うので、友達と日常的に雑談するには不向きだなー、と思ったりもしています。こんなメッセージングサービスがあれば使い始めたいんですが、ないのかな……。</p>

<ul>
<li>連絡先をアップロードする必要がない</li>
<li>IDさえ知っていればお互いメッセージの送受信ができる</li>
<li>チャットのようなUI</li>
<li>過去のやりとりを検索できる</li>
<li>APIが公開されている</li>
</ul>

