---
title: 30歳の僕が40歳で読み返したい、世界をどう見ているか。
tags: Business, Life
---
<p>久しぶりの投稿です。</p>

<p>最近、自律神経の活性化のため、銭湯神（せんとうしん）ヨッピーさんがオススメしている「交互浴」を最近週2ぐらいでやっています。</p>

<p><iframe src="https://hatenablog-parts.com/embed?url=https%3A%2F%2Ftravel.spot-app.jp%2Ftokyo_sento_yoppy%2F" title="東京都内のおすすめ銭湯＆交互浴を銭湯神ヨッピーが伝授！ | SPOT" class="embed-card embed-webcard" scrolling="no" frameborder="0" style="display: block; width: 100%; height: 155px; max-width: 500px; margin: 10px 0px;"></iframe><cite class="hatena-citation"><a href="https://travel.spot-app.jp/tokyo_sento_yoppy/">travel.spot-app.jp</a></cite></p>

<p>神戸はちょいちょい温泉が出るから東京より優れた土地だと思います。まあ、今日は東京人を煽りたいわけではないので本題に入ります。</p>

<p>そこで、20前後の大学生らしき少年3人が全裸で将来（仕事・お金・結婚・老後）について話していました（全裸）。要約するとこんな感じです。</p>

<ul>
<li>世の中は不景気だ</li>
<li>結婚すると、なんか300万ぐらいかかるらしい</li>
<li>がんばって働いて貯金しても一瞬でパァじゃんｗｗｗ</li>
<li>看護師とかの資格があって稼げそうな女性と結婚するのが正しいんじゃね？</li>
<li>俺たちのときはどうせ年金なんて破綻してる</li>
</ul>


<p>一言で言うと、閉塞感みたいな感じ……。「裸のつきあい」とはよく言ったものですね。腹を割って話しています。</p>

<p>そういう話を聞いていて、「僕が20の頃はどういうことを考えて、どういうふうに世界を見ていたんだろう？」と思いました。僕も大学時代よく友達と温泉に通っていましたが、そこで何を話していたのかはまったく思い出せません。</p>

<p>ということで、30の今、「どういうふうに世界を見ているのか」を書き残してみようと思います。自分の考えなんて時とともに変化していくものだと考えています。40になった僕がどう思うか楽しみです（それまでこのブログがあるのかよくわかりませんが）。</p>

<h3>お金と時間</h3>

<ul>
<li>頑張って働いても税金を払うことになるだけ</li>
<li>がんばって働いた人はえらいのに、たくさんの税金がかかる累進課税の意味が真剣に分からない

<ul>
<li>しかも世の中は「金持ちからもっと取れ」みたいな風潮であるのも分からない</li>
</ul>
</li>
<li>生活水準を下げ（＝自分が生きるのに必要なお金を減らし）、単価を上げ、労働時間を減らし、家族と過ごす時間を増やし、家賃の安いところに住むのが人として正解だと思う</li>
<li>税金が重くなることに加え、「たくさん稼いでる」って言ってしまうと周りの目も気になるので、「まあぼちぼち社会人だった頃程度には稼げてる」という状態になるよう、稼ぎすぎないよう調整するのがいいと思う（昔はお金ファーストで極限まで稼ぎたいと思っていた）</li>
<li>金融資産は増やしていきたい</li>
</ul>


<h3>対人関係</h3>

<ul>
<li>アドラー心理学を学び始めた（本を何度も読んでいる）</li>
<li>人に対して怒るのは、相手に対して共感・尊敬が足りていないことがほとんどだと思う</li>
<li>人を自分の思い通りに操作しようと思うことはなくなった</li>
<li>コミュニケーションに苦手意識がある

<ul>
<li>対人関係で傷つくことを恐れて避けているのだと思う</li>
</ul>
</li>
</ul>


<h3>家族</h3>

<ul>
<li>結婚は決めの問題だと思う</li>
<li>子供って、「眠いから泣く」みたいな、僕の価値観からは到底理解できない生き物だから、子供ができたら大変だと思う。自分の時間・お金的コストも大きいので、子供はMAX1人でいいかなって思っている。</li>
</ul>


<h3>仕事</h3>

<ul>
<li>予算をつけてくれないお客さんのためにも全力を尽くすべきなのかどうかで悩むことがある。</li>
<li>たまに「あ、こういう仕事したいな」と会社員に憧れることがある。

<ul>
<li>具体的には、今は、スプラトゥーン2のブキやステージの勝敗データを見ながらバランス調整する仕事がしてみたいｗｗｗ</li>
</ul>
</li>
</ul>


<p>ざっと書いたので、ちょいちょい追記したりするかもしれません。</p>
