---
title: エンジニアがクロスバイク（プレシジョンスポーツ）買った
tags: Shopping
---
<p><span itemscope itemtype="http://schema.org/Photograph"><img src="https://cdn-ak.f.st-hatena.com/images/fotolife/y/youcune/20171204/20171204081709.jpg" alt="f:id:youcune:20171204081709j:plain" title="f:id:youcune:20171204081709j:plain" class="hatena-fotolife" itemprop="image"></span></p>

<p><a href="http://www.cb-asahi.co.jp/">サイクルベースあさひ</a>の<a href="http://www.cb-asahi.co.jp/precision/">PRECISION Sports</a>というクロスバイクを買いました。</p>

<h3>ママチャリ vs クロスバイク</h3>

<p>今までママチャリ使ってたんですが、「ママチャリだと坂がしんどいから歩いて行こう」と考えてしまうこともあり、なんのための自転車なのか若干見失っていました。購入を検討し始めてからいろいろ調べて、クロスバイクがママチャリと違うポイントは、大きく下記3つがあると感じました。</p>

<ul>
<li>脚に力を入れやすい前かがみの姿勢</li>
<li>本体が軽いので動かすのに必要な力が小さい</li>
<li>タイヤが細いので摩擦が少ない</li>
</ul>


<p>「今まで20分かけて行く温泉銭湯まで時間が短縮できたらいいなぁー」というのが購買意欲の始まりです。</p>

<h3>有名メーカー vs 低価格モデル</h3>

<p>GIANT、Trek、LOUIS GARNEAUなど有名メーカーもいろいろあります。ただ、実際に乗ってみたときに満足できるのか、もしくは、「もっとこういう使い方したい」とかが出てくるのかどうかもわからなかったので、「最初は安いもの」で考えました。</p>

<p>そうすると、「<a href="http://www.cb-asahi.co.jp/">サイクルベースあさひ</a>」が出しているプライベートブランドの「<a href="http://www.cb-asahi.co.jp/weekendbikes/">WEEKENDBIKES</a>」と「<a href="http://www.cb-asahi.co.jp/precision/">PRECISION Sports</a>」あたりが候補にあがりました。それぞれ29,980円、39,980円です（税込！）。どちらも価格の割に評判も悪くないです。</p>

<p>有名メーカーではないということはパクられにくいという副次的効果もあるようですｗｗｗ</p>

<h3>WEEKENDBIKES vs PRECISION Sports</h3>

<p>ぼくは身長が178cm。WEEKENDBIKESは「155cm～」「165cm～」の2モデル。178cmにはちょっと足りないかなぁ、とか、街乗り中心だし、変速は後輪だけでもいいかなーと思ったりもしたので、このあたりあさひのお店で相談したら「乗ってみますか？」となって少し乗せてもらいました。</p>

<p>そして、やっぱり身長のせいかしっくりきた<a href="http://www.cb-asahi.co.jp/precision/">PRECISION Sports</a>を購入！　本体＋3年間の補償サービス＋鍵＋ライトでコミコミ5万円くらいでした。</p>

<p>1週間くらいで受け取れました。</p>

<h3>実際に乗ってみて</h3>

<p>20分ぐらいかかっていた道が、15分ぐらいになりました。あんま変わらんやんって思うかもしれませんが、疲労感が全然違う！　ママチャリでしんどかった坂もスイスイ進みます。「しんどいから行きたくないな」という気持ちがなくなり、フットワークも軽くなったように思います。あと、デザインがスポーティでカッコイイ！</p>

<p>最近健康ブームだし、色々なところで自転車専用道の整備も進んでいます。ぼくとともにぜひ自転車ライフを始めてみませんか？？</p>

<p>また1ヶ月くらい乗ってみて感想やどういうふうに使えているか書くかもしれません。</p>
