---
title: なかにしさんちの2017年に買ってよかったもの
tags: Shopping
---
<p>定番のやつ、やってみます。</p>

<p>ぼくはアップルと無印良品が好きすぎて、好きバイアスかかってる可能性あります。一部アフィリンクになっていますが、アフィ目的の記事ではないので本当に買って良かったものを自信持っておすすめします。</p>

<p>まずアップル、次に無印良品、最後にその他という順でご紹介します。</p>

<h3>iPad Pro 10.5 + Apple Pencil</h3>

<p><iframe src="https://hatenablog-parts.com/embed?url=https%3A%2F%2Fwww.apple.com%2Fjp%2Fipad-pro%2F" title="iPad Pro" class="embed-card embed-webcard" scrolling="no" frameborder="0" style="display: block; width: 100%; height: 155px; max-width: 500px; margin: 10px 0px;"></iframe><cite class="hatena-citation"><a href="https://www.apple.com/jp/ipad-pro/">www.apple.com</a></cite></p>

<p>なんといってもこれ。Apple Pencilの快適さは紙（神）に匹敵します。デスクの上にメモおいていたんですが、使わなくなりました。</p>

<p>イチオシのアプリは「Good Notes 4」かな。お仕事紹介してもらったときとか、チャッって紹介料を現金で手渡したりすることがあります。そのときササッとApple Pencilで領収書に一筆もらえるとスマートで捗ります。</p>

<p><span itemscope itemtype="http://schema.org/Photograph"><img src="https://cdn-ak.f.st-hatena.com/images/fotolife/y/youcune/20171216/20171216154108.png" alt="f:id:youcune:20171216154108p:plain" title="f:id:youcune:20171216154108p:plain" class="hatena-fotolife" itemprop="image"></span></p>

<h3>AirPods</h3>

<p><iframe src="https://hatenablog-parts.com/embed?url=https%3A%2F%2Fwww.apple.com%2Fjp%2Fshop%2Fproduct%2FMMEF2J%2FA%2Fairpods" title="AirPods" class="embed-card embed-webcard" scrolling="no" frameborder="0" style="display: block; width: 100%; height: 155px; max-width: 500px; margin: 10px 0px;"></iframe><cite class="hatena-citation"><a href="https://www.apple.com/jp/shop/product/MMEF2J/A/airpods">www.apple.com</a></cite></p>

<p>今までBluetoothイヤホンは3,000円ぐらいの安物を使っていました。これはこれで良かったのですが、複数の端末に接続すると途端に不安定に……。</p>

<p>また、使いたいときに意外とバッテリーがなくなることも多かったです。</p>

<p>左右のイヤホンがコードでつながっているタイプは、ちょっとコンビニのレジで首にかけっぱなしにできるのはメリットですが、運動中などは特に邪魔でした。</p>

<p>AirPodsは左右分離しているので全く邪魔にならず、運動して落ちることもありません。接続もかなり安定しており、iPhoneでペアリングしたら自動でMacでも使えるようになっていました。</p>

<h3>スタッキングシェルフ + ステンレスワイヤーバスケット</h3>

<p><iframe src="https://hatenablog-parts.com/embed?url=https%3A%2F%2Fwww.muji.net%2Fstore%2Fcmdty%2Fdetail%2F4549337265622" title="スタッキングシェルフ・２段・ウォールナット材　幅４２×奥行２８．５×高さ８１．５ｃｍ | 無印良品ネットストア" class="embed-card embed-webcard" scrolling="no" frameborder="0" style="display: block; width: 100%; height: 155px; max-width: 500px; margin: 10px 0px;"></iframe><cite class="hatena-citation"><a href="https://www.muji.net/store/cmdty/detail/4549337265622">www.muji.net</a></cite></p>

<p>これ。ちょっとお値段が張りますが、高級感やばい。買う前は「うーん、高いなー」と思って悩みまくっていたんですが、買ってから「高い」とは全然思わなくなりました。パーツがすごい。</p>

<p>無印良品の魅力って、無印良品の商品同士でうまいこと組み合わせられることと、商品の寿命が長いから、数年後にパーツを追加したいと思ったときにも同じ商品があることですよね。</p>

<p><iframe src="https://hatenablog-parts.com/embed?url=https%3A%2F%2Fwww.muji.net%2Fstore%2Fcmdty%2Fdetail%2F4547315117031" title="１８ー８ステンレスワイヤーバスケット１　約幅２６×奥行１８×高さ１８ｃｍ | 無印良品ネットストア" class="embed-card embed-webcard" scrolling="no" frameborder="0" style="display: block; width: 100%; height: 155px; max-width: 500px; margin: 10px 0px;"></iframe><cite class="hatena-citation"><a href="https://www.muji.net/store/cmdty/detail/4547315117031">www.muji.net</a></cite></p>

<p>ステンレスワイヤーバスケットにピッタリのサイズがあるので、オシャレに収納できます。</p>

<h3>ABS樹脂デスクトップ収納</h3>

<p>とうとうこのシリーズを買いました。</p>

<p><iframe src="https://hatenablog-parts.com/embed?url=https%3A%2F%2Fwww.muji.net%2Fstore%2Fcmdty%2Fdetail%2F4549738728771" title="ＡＢＳ樹脂　Ａ４書類トレー・横　Ａ４　約幅２４×奥行３２×高さ４．５ｃｍ | 無印良品ネットストア" class="embed-card embed-webcard" scrolling="no" frameborder="0" style="display: block; width: 100%; height: 155px; max-width: 500px; margin: 10px 0px;"></iframe><cite class="hatena-citation"><a href="https://www.muji.net/store/cmdty/detail/4549738728771">www.muji.net</a></cite></p>

<p>これは、買い揃える前に縦向きに置くか横向きに置くかを綿密に検討してください。というのも、もし一番上に<a href="https://www.muji.net/store/cmdty/detail/4549337328938">&#xFF21;&#xFF22;&#xFF33;&#x6A39;&#x8102; &#x30DA;&#x30F3;&#x30FB;&#x5C0F;&#x7269;&#x30B9;&#x30BF;&#x30F3;&#x30C9;&#x30FB;&#xFF11;&#xFF0F;&#xFF18; &#x7D04;&#x5E45;&#xFF18;&#xFF0E;&#xFF11;&times;&#x5965;&#x884C;&#xFF11;&#xFF11;&#xFF43;&#xFF4D; | &#x7121;&#x5370;&#x826F;&#x54C1;&#x30CD;&#x30C3;&#x30C8;&#x30B9;&#x30C8;&#x30A2;</a>を置きたい場合、一番下にA4サイズの縦向きを配置してしまうと、どう頑張ってもこのスタンドが横を向きます。</p>

<p>なので、ぼくは一番下をA4横向きにして重ねています。</p>

<h3>Kindle Oasis (Newモデル)</h3>

<p><div class="hatena-asin-detail"><a href="http://www.amazon.co.jp/exec/obidos/ASIN/B06W2HD2WT/youcune-22/"><img src="https://images-fe.ssl-images-amazon.com/images/I/51v%2Bw52bDoL._SL160_.jpg" class="hatena-asin-detail-image" alt="Kindle Oasis (Newモデル) 32GB、Wi-Fi + 3G、電子書籍リーダー" title="Kindle Oasis (Newモデル) 32GB、Wi-Fi + 3G、電子書籍リーダー"></a><div class="hatena-asin-detail-info"><p class="hatena-asin-detail-title"><a href="http://www.amazon.co.jp/exec/obidos/ASIN/B06W2HD2WT/youcune-22/">Kindle Oasis (Newモデル) 32GB、Wi-Fi + 3G、電子書籍リーダー</a></p><ul><li><span class="hatena-asin-detail-label">出版社/メーカー:</span> Amazon</li><li><span class="hatena-asin-detail-label">発売日:</span> 2017/10/31</li><li><span class="hatena-asin-detail-label">メディア:</span> エレクトロニクス</li><li><a href="http://d.hatena.ne.jp/asin/B06W2HD2WT/youcune-22" target="_blank">この商品を含むブログ (1件) を見る</a></li></ul></div><div class="hatena-asin-detail-foot"></div></div></p>

<p>ぼくはお風呂が長いので、お風呂読書のために買いました。左右非対称のデザインは片手で持って読むのにすごく合理的です（重い側を持てば、バランスを崩さずらくらく扱える。iPadは片手で扱うには落としそうになる）。</p>

<p>リッチの最上位モデルにしました。Wi-Fiか3Gのどっちにするかで悩んでいる人は、「外で本をダウンロードしたいか？」という観点ではなく（どうせ重い本はWi-Fiじゃないとダウンロードできません）、「読んだ場所を他の端末と同期したいか？」「Wikipediaをすぐ調べたいか？」の2つの観点で検討すればよいと思います。</p>

<h3>Nokia スマート体重計</h3>

<p><div class="hatena-asin-detail"><a href="http://www.amazon.co.jp/exec/obidos/ASIN/B071SFMY3P/youcune-22/"><img src="https://images-fe.ssl-images-amazon.com/images/I/31YZ0weG21L._SL160_.jpg" class="hatena-asin-detail-image" alt="Nokia スマート体重計 Body ホワイト Wi-Fi/Bluetooth対応 BMI体重計 【日本正規代理店品】 WBS06-WHITE-ALL-JP" title="Nokia スマート体重計 Body ホワイト Wi-Fi/Bluetooth対応 BMI体重計 【日本正規代理店品】 WBS06-WHITE-ALL-JP"></a><div class="hatena-asin-detail-info"><p class="hatena-asin-detail-title"><a href="http://www.amazon.co.jp/exec/obidos/ASIN/B071SFMY3P/youcune-22/">Nokia スマート体重計 Body ホワイト Wi-Fi/Bluetooth対応 BMI体重計 【日本正規代理店品】 WBS06-WHITE-ALL-JP</a></p><ul><li><span class="hatena-asin-detail-label">出版社/メーカー:</span> Nokia</li><li><span class="hatena-asin-detail-label">発売日:</span> 2017/06/20</li><li><span class="hatena-asin-detail-label">メディア:</span> エレクトロニクス</li><li><a href="http://d.hatena.ne.jp/asin/B071SFMY3P/youcune-22" target="_blank">この商品を含むブログを見る</a></li></ul></div><div class="hatena-asin-detail-foot"></div></div></p>

<p>体重の変化を記録したいけれど、どうしても面倒。これは乗るだけで自動で記録してくれます。しかも、iOSを使っていたらヘルスケアAppにも自動連携。万一Nokiaのサービスが終わっても端末にデータが残っている安心感があります。</p>

<p>厳密に言えばぼくが買ったのはBody Cardioという上位モデル（旧モデル？）なのですが、買った直後にNokiaに買収されて安いこのモデルが出てきました。体重を記録したいだけならこれで十分と思いますので、この商品を代わりに紹介しておきます。</p>

<h3>めざましカーテン mornin'</h3>

<p><div class="hatena-asin-detail"><a href="http://www.amazon.co.jp/exec/obidos/ASIN/B01ERLNK72/youcune-22/"><img src="https://images-fe.ssl-images-amazon.com/images/I/311yNnlzeSL._SL160_.jpg" class="hatena-asin-detail-image" alt="［めざましカーテン mornin’］ ご自宅のカーテンにカンタン装着 カーテン自動開閉装置 朝の光で寝起きが変わる　2017年度グッドデザイン賞受賞" title="［めざましカーテン mornin’］ ご自宅のカーテンにカンタン装着 カーテン自動開閉装置 朝の光で寝起きが変わる　2017年度グッドデザイン賞受賞"></a><div class="hatena-asin-detail-info"><p class="hatena-asin-detail-title"><a href="http://www.amazon.co.jp/exec/obidos/ASIN/B01ERLNK72/youcune-22/">［めざましカーテン mornin’］ ご自宅のカーテンにカンタン装着 カーテン自動開閉装置 朝の光で寝起きが変わる　2017年度グッドデザイン賞受賞</a></p><ul><li><span class="hatena-asin-detail-label">出版社/メーカー:</span> 株式会社ロビット</li><li><span class="hatena-asin-detail-label">メディア:</span> エレクトロニクス</li><li><a href="http://d.hatena.ne.jp/asin/B01ERLNK72/youcune-22" target="_blank">この商品を含むブログを見る</a></li></ul></div><div class="hatena-asin-detail-foot"></div></div></p>

<p>これ。カーテンレールにつけておくと、スマホで開け閉めができるようになります。しかも激安。タイマーもついていて、「毎日決まった時刻にカーテンを開ける」ということができるようになります。毎日同じ時刻に朝日を浴びて体内時計をリセットして健康になれる気もしました。知らんけど。</p>

<p>ぼくは毎朝6:30にカーテン開けてるんですが、最近は朝が遅くなって、カーテンが空いても暗いので時刻や季節によっては使い所検討かもしれません。ほかにも欠点を述べるとすれば、手でカーテンを開け閉めすることができなくなりますｗｗｗ</p>

<h3>Nintendo Switch + スプラトゥーン2</h3>

<p><div class="hatena-asin-detail"><a href="http://www.amazon.co.jp/exec/obidos/ASIN/B01N5QLLT3/youcune-22/"><img src="https://images-fe.ssl-images-amazon.com/images/I/41qDEcVuv7L._SL160_.jpg" class="hatena-asin-detail-image" alt="Nintendo Switch Joy-Con (L) / (R) グレー" title="Nintendo Switch Joy-Con (L) / (R) グレー"></a><div class="hatena-asin-detail-info"><p class="hatena-asin-detail-title"><a href="http://www.amazon.co.jp/exec/obidos/ASIN/B01N5QLLT3/youcune-22/">Nintendo Switch Joy-Con (L) / (R) グレー</a></p><ul><li><span class="hatena-asin-detail-label">出版社/メーカー:</span> 任天堂</li><li><span class="hatena-asin-detail-label">発売日:</span> 2017/03/03</li><li><span class="hatena-asin-detail-label">メディア:</span> Video Game</li><li><a href="http://d.hatena.ne.jp/asin/B01N5QLLT3/youcune-22" target="_blank">この商品を含むブログ (17件) を見る</a></li></ul></div><div class="hatena-asin-detail-foot"></div></div></p>

<p><div class="hatena-asin-detail"><a href="http://www.amazon.co.jp/exec/obidos/ASIN/B072J2J26T/youcune-22/"><img src="https://images-fe.ssl-images-amazon.com/images/I/61t2z334DvL._SL160_.jpg" class="hatena-asin-detail-image" alt="Splatoon 2 (スプラトゥーン2) 【オリジナルマリオグッズが抽選で当たるシリアルコード配信(2017/10/26-2018/1/8注文分まで)】 - Switch" title="Splatoon 2 (スプラトゥーン2) 【オリジナルマリオグッズが抽選で当たるシリアルコード配信(2017/10/26-2018/1/8注文分まで)】 - Switch"></a><div class="hatena-asin-detail-info"><p class="hatena-asin-detail-title"><a href="http://www.amazon.co.jp/exec/obidos/ASIN/B072J2J26T/youcune-22/">Splatoon 2 (スプラトゥーン2) 【オリジナルマリオグッズが抽選で当たるシリアルコード配信(2017/10/26-2018/1/8注文分まで)】 - Switch</a></p><ul><li><span class="hatena-asin-detail-label">出版社/メーカー:</span> 任天堂</li><li><span class="hatena-asin-detail-label">発売日:</span> 2017/07/21</li><li><span class="hatena-asin-detail-label">メディア:</span> Video Game</li><li><a href="http://d.hatena.ne.jp/asin/B072J2J26T/youcune-22" target="_blank">この商品を含むブログ (8件) を見る</a></li></ul></div><div class="hatena-asin-detail-foot"></div></div></p>

<p>発売されてから一生遊んでいます。</p>

<h3>PENTAX KP + DA40mmF2.8 Limited</h3>

<p><div class="hatena-asin-detail"><a href="http://www.amazon.co.jp/exec/obidos/ASIN/B01MR8YP0K/youcune-22/"><img src="https://images-fe.ssl-images-amazon.com/images/I/51vW5qJiv-L._SL160_.jpg" class="hatena-asin-detail-image" alt="PENTAX デジタル一眼レフ KP ボディ 【ブラック】 KP BODY BLACK 16020" title="PENTAX デジタル一眼レフ KP ボディ 【ブラック】 KP BODY BLACK 16020"></a><div class="hatena-asin-detail-info"><p class="hatena-asin-detail-title"><a href="http://www.amazon.co.jp/exec/obidos/ASIN/B01MR8YP0K/youcune-22/">PENTAX デジタル一眼レフ KP ボディ 【ブラック】 KP BODY BLACK 16020</a></p><ul><li><span class="hatena-asin-detail-label">出版社/メーカー:</span> ペンタックス</li><li><span class="hatena-asin-detail-label">発売日:</span> 2017/02/23</li><li><span class="hatena-asin-detail-label">メディア:</span> Camera</li><li><a href="http://d.hatena.ne.jp/asin/B01MR8YP0K/youcune-22" target="_blank">この商品を含むブログ (1件) を見る</a></li></ul></div><div class="hatena-asin-detail-foot"></div></div></p>

<p><div class="hatena-asin-detail"><a href="http://www.amazon.co.jp/exec/obidos/ASIN/B00ETM904M/youcune-22/"><img src="https://images-fe.ssl-images-amazon.com/images/I/41daJLrE9RL._SL160_.jpg" class="hatena-asin-detail-image" alt="PENTAX リミテッドレンズ パンケーキレンズ 標準単焦点レンズ HD PENTAX-DA40mmF2.8 Limited ブラック Kマウント APS-Cサイズ 21390" title="PENTAX リミテッドレンズ パンケーキレンズ 標準単焦点レンズ HD PENTAX-DA40mmF2.8 Limited ブラック Kマウント APS-Cサイズ 21390"></a><div class="hatena-asin-detail-info"><p class="hatena-asin-detail-title"><a href="http://www.amazon.co.jp/exec/obidos/ASIN/B00ETM904M/youcune-22/">PENTAX リミテッドレンズ パンケーキレンズ 標準単焦点レンズ HD PENTAX-DA40mmF2.8 Limited ブラック Kマウント APS-Cサイズ 21390</a></p><ul><li><span class="hatena-asin-detail-label">出版社/メーカー:</span> ペンタックス</li><li><span class="hatena-asin-detail-label">発売日:</span> 2013/09/20</li><li><span class="hatena-asin-detail-label">メディア:</span> Camera</li><li><a href="http://d.hatena.ne.jp/asin/B00ETM904M/youcune-22" target="_blank">この商品を含むブログ (1件) を見る</a></li></ul></div><div class="hatena-asin-detail-foot"></div></div></p>

<p>「結婚したら自由にお金使ったりできなくなるのかな……」という思いに駆られて購入ｗｗｗ</p>

<p>CanonやNikonのカメラを使っている人に言いたい。PENTAXは、ボディ内に手ぶれ補正がついてるの。だから、こんなに薄いコンパクトなレンズが実現できる。気軽に持ち出せる。カメラを持ち出すことがハードルになってはいけない。ISO感度102400。桁がおかしい。用途によっては25600ぐらいまで使える。</p>

<p>40mmの単焦点レンズは「最小の荷物で1本だけ持っていくレンズ」というポジションには最適。食べた料理を撮るにも、手を伸ばして離れればなんとかなり、風景も人物もそれなり。気軽にスナップできる万能のレンズです。35のmacroでもよかったのかもしれない。</p>

<p>一眼レフカメラはずっとPENTAXをつかっていて、K-5からの買い替え、PENTAXは3代目でした。</p>

<p><span itemscope itemtype="http://schema.org/Photograph"><img src="https://cdn-ak.f.st-hatena.com/images/fotolife/y/youcune/20171216/20171216151614.jpg" alt="f:id:youcune:20171216151614j:plain" title="f:id:youcune:20171216151614j:plain" class="hatena-fotolife" itemprop="image"></span></p>

<h3>PRECISION Sports</h3>

<p>クロスバイクを買いました。これについては下記で詳しく書いています。</p>

<p><iframe src="https://hatenablog-parts.com/embed?url=http%3A%2F%2Fstack.overflow.engineer%2Fentry%2F2017%2F12%2F03%2F121451" title="エンジニアがクロスバイク（プレシジョンスポーツ）買った - monolog" class="embed-card embed-blogcard" scrolling="no" frameborder="0" style="display: block; width: 100%; height: 190px; max-width: 500px; margin: 10px 0px;"></iframe><cite class="hatena-citation"><a href="http://stack.overflow.engineer/entry/2017/12/03/121451">stack.overflow.engineer</a></cite></p>

<p>みなさんもぜひ買ってよかったもの、教えてください( ^ω^ )</p>
