%ul.vertical
  %li <i class="fa fa-user"></i> なかにしゆう
  %li <i class="fa fa-suitcase"></i> M3, Inc.
  %li <i class="fa fa-globe"></i> <a href="/">http://youcune.com/</a>
  %li <i class="fa fa-envelope"></i> <a href="mailto:you@nakanishi.email">you@nakanishi.email</a>
  %li{ style: 'margin-top: 18px;' }
    <a href="http://twitter.com/youcune"><img src="/images/mini_social_icons/twitter.png" alt="twitter" width="20" height="20"></a>
    <a href="http://justyo.co/YOUCUNE"><img src="/images/mini_social_icons/yo.png" alt="Yo" width="20" height="20"></a>
    <a href="http://instagram.com/youcune"><img src="/images/mini_social_icons/instagram.png" alt="instagram" width="20" height="20"></a>
    <a href="https://foursquare.com/youcune"><img src="/images/mini_social_icons/foursquare.png" alt="foursquare" width="20" height="20"></a>
    <a href="http://line.naver.jp/ti/p/CAlaQYcnvs"><img src="/images/mini_social_icons/line.png" alt="LINE" width="20" height="20"></a>
    <a href="http://google.me/+YuNakanishi"><img src="/images/mini_social_icons/googleplus.png" alt="Google+" width="20" height="20"></a>
    <a href="http://facebook.com/youcune"><img src="/images/mini_social_icons/facebook.png" alt="facebook" width="20" height="20"></a>
    <a href="http://github.com/youcune"><img src="/images/mini_social_icons/github_alt.png" alt="GitHub" width="20" height="20"></a>
    <a href="http://qiita.com/youcune?utm_source=portal&amp;utm_medium=portal&amp;utm_content=social_icon"><img src="/images/mini_social_icons/qiita.png" alt="Qiita" width="20" height="20"></a>
    <a href="http://stackoverflow.com/users/3803505/youcune"><img src="/images/mini_social_icons/stackoverflow.png" alt="Stack Overflow" width="20" height="20"></a>
