---
title: MacBook Proを買ったので運用を考えなおしてみた
tags: Apple, Mac, shopping
---
<p>先日、このタイミングでMacBook Pro 13インチ Retinaディスプレイモデルを購入しました。今までiMac Mid 2011とMacBook Air Late 2010を使っていたんですが、</p>

<ul>
<li>あれっあっちのマシンには環境構築してたのにこっちにはない</li>
<li>こっちのマシンの作業の続きをこっちにもってきたい</li>
</ul>


<p>とかいろいろあったので、パワーのあるマシン1台でまかない、家ではモニタにつないで運用することにしました。そこで、</p>

<ul>
<li>職場でRetinaディスプレイのモデルを使っていて、非Retinaにはもどれないよなーと思っていた</li>
<li>将来的には外部ディスプレイもRetina(4K？)に以降していくことになる（このモデルは4K出力に対応している）</li>
<li>新しいMacBook AirがRetinaになるという噂はあるものの、4Kに対応するほどのパワーは備えていないだろう</li>
<li>家でモニタにつなぐのであれば、あとは外出のときのことを考えると小さければ小さいほどよい</li>
<li>アップル製品はほしいと思った時が買い時！</li>
</ul>


<p>ということで、（ヤマダ電機の店員が自分と同じ名前だったこともあり）13インチRetinaモデルの購入を決意しました。</p>

<h3>データ保護体制の見直し</h3>

<p>メインのマシンとして外に持ち出すことを考えているので、万一の事態に備えての対策を考えました。ここで言う「万一の事態」というのは、</p>

<ul>
<li>データを紛失してしまっても取り戻せる</li>
<li>データを見られないようにする</li>
</ul>


<p>の2つの意味があります。</p>

<h4>データを紛失してしまっても取り戻せる</h4>

<p>紛失してしまっても取り戻せるようにするために、学生時代から撮りためている写真など「なくなったら終わるデータ」とiTunesで管理している音楽など「なくなってもお金で解決できるデータ」に分けました。なくなったら終わるデータについては、「家が燃えてもなくならないようにする」というポリシーを掲げ、Amazon Glacierに格納することにしました。Amazon Glacierのデータが消えたらどうしよう、と一瞬考えたのですが、僕が明日死ぬことのほうが現実味があるので考えるのをやめました。</p>

<p>また、ちょいちょい使いそうなデータは外付けHDDも併用することにしました。IODATAのやつを買いに行ったのにデザインに惹かれて気づいたらバッファローのやつを買っていました。あまり必要ないかもしれませんが、<a href="http://misa-bazooka.cocolog-nifty.com/blog/filevault-2.html">外付けHDDもMacのディスクユーティリティから簡単に暗号化できた</a>のでしばらく使ってみたいと思います。</p>

<h4>データを見られないようにする</h4>

<p>まずFileVaultは基本として、やむなく席を立つときにはロックしておく。まあこれもあまり必要ないかもしれませんが、TimeMachineのバックアップも暗号化しておきます。</p>

<h3>Lightroomの運用の見直し</h3>

<p>前はiMacに1TBの容量があったので無尽蔵にストレージを使うことができましたが、これからは同様の運用は難しそうです。Lightroom 5にはスマートプレビューという機能があり、RAWファイルを縮小してローカルにもっておくことができます。RAWファイル本体はさっき買った外付けHDDに入れ、マシン上ではスマートプレビューを使って編集するというフローにしました。そもそも、カメラは数千万画素になってきたけれど、MacBook ProはRetinaディスプレイモデルですら410万画素。それ以上の画素数のデータを持ち歩く必要なんかなく合理的と言えそうです。</p>

<h3>iTunes運用の見直し</h3>

<p>データはライブラリごと外部HDDに移しました。外出中に聴きたくなったらGoogle Music経由で聴くことにします。iPhoneとの同期は自動でしないようにして、外部HDDが見えるときだけ手動で同期することにします。</p>

<h3>まとめ</h3>

<p>SSD 512GBモデルにすれば良かった。</p>
