---
title: ゆりえ Days のサイトを公開しました！
tags: life, business, information
---
<h3>ゆりえ Days オープン</h3>

<p>本日、 <a href="http://yurie.sexy/?utm_source=mono&amp;utm_medium=article&amp;utm_content=20140706_yurie-site-released">ゆりえ Days</a> という新サイトをオープンしました。</p>

<p><span itemscope itemtype="http://schema.org/Photograph"><img src="http://cdn-ak.f.st-hatena.com/images/fotolife/y/youcune/20160325/20160325144552.png" alt="f:id:youcune:20160325144552p:plain" title="f:id:youcune:20160325144552p:plain" class="hatena-fotolife" itemprop="image"></span></p>

<p>中身は鋭意制作中です。</p>

<h3>誕生秘話</h3>

<p>ある日、僕に稲妻が走りました。</p>

<p><blockquote class="twitter-tweet" data-lang="ja"><p lang="ja" dir="ltr">アホなWebサービスいっこ思いついた</p>&mdash; なかにしゆう(イカ) (@youcune) <a href="https://twitter.com/youcune/status/484337264042856448">2014年7月2日</a></blockquote><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script><cite class="hatena-citation"><a href="https://twitter.com/youcune/statuses/484337264042856448">twitter.com</a></cite></p>

<p>すぐ<a href="http://www.lancers.jp/work/detail/369753">ランサーズでイラストを依頼</a>しました。ランサーズは前職の同期が勤めていたので、他の似たようなサービスとの比較検討は特にしてません。</p>

<p>感想。すごい。たかだか1万円で44人が提案してきてくださりました。依頼する側としては安くて提案たくさんもらえるのが嬉しいのは嬉しいけど、44人の中から選ばれるのが1人とか、しかも人それぞれ好みがあるから正解はなく単に技術力を向上させれば必ず選ばれる保証もないとか、ちょっと作業してくれる方に不利すぎる気がしました。次からは良さげな提案をしていただいた方を指名でお願いしようと思います。</p>

<p>昨日、依頼の締め切りを経て、 <a href="https://twitter.com/akayan365">@akayan365</a> さんにお願いすることにしました。ありがとうございます。</p>

<h3>サービス内容</h3>

<p>「これまでにない（※ @youcune 調べ）新感覚コミュニケーションサービス」です。</p>

<p>あとは開発ですね！</p>

<h3>07/07 追記</h3>

<p>「サービス名がちょっと……」とご意見いただいたので、「yurie.sexy」から「ゆりえ Days」に改名いたしました。</p>
