---
title: ゆりえDays サービス開始！
tags: recommended, business, information
---
<h3>ゆりえDays 作者インタビュー</h3>

<p>村井：本日、 <a href="http://yurie.sexy/?utm_source=mono&utm_medium=article&utm_content=20140713_yurie-days-released">ゆりえDays</a> というサービスをオープンしたと聞き、作者のなかにしゆうさんにインタビューにやってきました。村井といいます。はじめましてなかにしゆうさん、いよいよリリースですね。</p>

<p>なかにしゆう：はい、おかげ様でリリースすることができました。</p>

<p>村井：今回オープンとなった「ゆりえDays」ですが、一体どのようなサービスなのでしょうか？</p>

<p>なかにしゆう：村井さんでしたっけ、 <a href="http://www.justyo.co/">Yo</a> というサービスはご存知ですか？</p>

<p>村井：はい、ユーザ同士 Yo だけ送り合えるサービスで、ちょっと流行ってますよね（私はインストールだけして10秒で飽きたけど）。</p>

<p>なかにしゆう：はい、今回オープンした「<a href="http://yurie.sexy/?utm_source=mono&utm_medium=article&utm_content=20140713_yurie-days-released">ゆりえDays</a>」は、「ゆりえという架空のキャラクターと Yo でコミュニケーションが取れるサービス」です。</p>

<p>村井：えっ</p>

<p>しばし沈黙が場を支配した。</p>

<p>村井：えっと、そもそもなぜ作ろうと思ったのでしょうか。</p>

<p>なかにしゆう：はい、ある日のこのツイートまでさかのぼります。</p>

<p><blockquote class="twitter-tweet" data-lang="ja"><p lang="ja" dir="ltr">彼女とYoでコミュニケーションを試みたい。彼女いないからただの妄想だけど。</p>&mdash; なかにしゆう(イカ) (@youcune) <a href="https://twitter.com/youcune/status/481011651638878210">2014年6月23日</a></blockquote><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script><cite class="hatena-citation"><a href="https://twitter.com/youcune/statuses/481011651638878210">twitter.com</a></cite></p>

<p>村井：はあ……。</p>

<p>なかにしゆう：「彼女と Yo でコミュニケーションを試みたい」→「あれ、 Yo でしかコミュニケーション取らへんのやったら、もはや作れるんちゃう？」→「作ってみるか！」という流れですね。</p>

<p>村井：……。</p>

<p>なかにしゆう：……。</p>

<p>村井：えっ、えっと、サービスの面白さは一体どこにあるのでしょうか。</p>

<p>なかにしゆう： Yo というサービスを通して、ゆりえちゃんとコミュニケーションし親密な関係を構築できるところです。</p>

<p>村井：……。</p>

<p>なかにしゆう：私は Yo には無限の可能性を感じています。たとえば LINE を考えてみてください。相手が恋人でもなければ、「おはよう」とメッセージを送る人はそんなにいません。ところが、 Yo だとコミュニケーションに文字が不要です。つまり、コミュニケーションのハードルが下がり、その結果、コミュニケーションの頻度が上がることになります。私は Yo を通してより親密な関係になった人もいて、可能性を感じています。</p>

<p>村井：はあ……。</p>

<p>なかにしゆう：そこで、「彼女を作って彼女とコミュニケーション取ったら面白そう！」と思いました。</p>

<p>村井：なかにしゆうさんのあまりの非リア発言にちょっと心配になってきました。非リアがうつると困るので、本日はここまでとさせていただきます。</p>

<p>なかにしゆう：本日はありがとうございました。また、ご心配いただきありがとうございます。おちこんだりもしたけれど、私はげんきです。</p>

<p>この構想からイラスト制作依頼を出した話は<a href="/mono/info/yurie-site-released.html">前回の記事</a>を参照ください。</p>

<h3>ゆりえDays サービス開始</h3>

<p>と、いうわけでリリースしました！　ゆりえちゃんとコミュニケーションを取って仲良くなって、「好きランキング（近日追加予定）」の上位を目指してみてください！　ある程度まで好かれると、ゆりえちゃんの方からかまってほしくて Yo が飛んできたりするかもしれません。かわいいでしょ！</p>

<h3>技術的な何か</h3>

<p>Rails から Yo API を呼んでつかっています。 Yo API を Ruby からさわれるクライアント、 <a href="https://rubygems.org/gems/yo_client">yo_client</a> を RubyGems で公開したので興味のある方はぜひ使ってみてください。</p>

<p>本記事の村井さんはインタビュー風の記事にするために登場してもらった架空の人物です。この記事を書いているときに目の前に本があって、その著者の名前を使いました。</p>
