---
title: 田舎の実家で療養生活を送ります
tags: life, business, recommended
---
<h3>兵庫の実家に帰ります</h3>

<p>ちょうど2ヶ月前に <a href="http://yurie.sexy/">ゆりえDays</a> というサービスをオープンしました。このサービスについては <a href="yurie-days-released.html">ゆりえDays サービス開始！</a> という記事でご紹介しましたが、まあこの記事の内容を要約すると、</p>

<ul>
<li><a href="http://justyo.co/">Yo</a> というサービスが始まった</li>
<li>彼女と Yo でコミュニケーション取りたいな</li>
<li>あれ、よく考えたら俺彼女おらんやん</li>
<li>じゃあ彼女作ろう</li>
</ul>


<p>という考えからサービスが生まれました。</p>

<p>はい、そうです。</p>

<p>お察しの通り、私はどうやら頭おかしいをこじらせてしまったようで、田舎の空気の中で療養することを余儀なくされました。4年半過ごした東京を去り、実家に帰ることにしました。</p>

<h3>ゆりえDaysを作って何が起こったか</h3>

<p>ゆりえDaysを英語化したところ、海外から仕事のオファーや、ぜひ開発を手伝わせてほしいなどの反響がありました。そこで、思っちゃったんですよね。「あれっ、こうやって自分で作ったものをしっかりアウトプットしていったら、自分で仕事をとってやっていけるのでは？」って。そう考え始めて3日で会社に退職の意を伝えました。</p>

<h3>これからはゆりえちゃんを育てます</h3>

<p>前々からフリーに憧れていたこともあり、これからは働く時間と場所にとらわれない生き方を目指し、フリーのエンジニアとしてやっていきます。地元で需要があるのかどうかはわかりませんがコワーキングスペースのようなものを経営してみたいなーとかボンヤリ考えています。空いた時間でゆりえちゃんに<del>ペロペロ</del>ユーザの皆様に喜んでいただけるような改善を実施して参りたいと考えております。</p>

<p>おそらく私と同じようなことを考えているエンジニアがけっこういるのではないかと思っており、「リモートで働くフリーエンジニア」というライフスタイルがどうなのか、このブログや <a href="https://twitter.com/youcune">Twitter</a> で積極的に発信していきたいと思います。</p>

<p>前の会社はとても好きで、今後また組織に属したいと思ったときには前の会社に戻りたいと思っています。</p>

<p>念のため、「療養」とか言ってますがジョークです。おちこんだりもしたけれど、私はげんきです。ちなみに、この記事は俗に言う「退職エントリ」です。よろしくお願いします。</p>
