---
title: GitHub を1年頑張ったら何が起こったか
tags: GitHub
---

%h3 GitHub を1年頑張りました
%p 「頑張りました」と言ってももっと頑張ってる人もいるし、頑張らなくても息をするように緑色に染める人もいるのでなかなか言いたくない気持ちもあるのですが、自分のなかでの通過点としてひとまず書いておくことにしました。
%p= image_tag 'imports/20141025_github-1-year.png', alt: 'Year of contributions', class: 'img-responsive'
%p 「優秀なエンジニアは GitHub やってる人が多い！　ぼくもやってみよう！」みたいなノリで GitHub に登録したのがちょうど2年前ぐらい。しかし登録はしたものの、「えーなんかコード見られるの恥ずかしい」「見せられるもの書いてない」とかヒヨってあまり使えていませんでした。日常使うツールをちょこっと書いたら GitHub にあげる、などこういうところから少しずつ始めていけば、まあまあ芝が生い茂ってきたので効果について考えてみました。

%h3 コードを書く習慣がつく
%p まず日常的にコードを書く習慣がつき、自分で考えたものを形にする力、習慣がつきました。「こういうのあったらいいな、面白そう」と思ったらすぐ作るようになりました。

%h3 技術力がつく
%p 日々コードを書いていると絶対量が格段に増えるので、試行錯誤の中で「これやるならまあこうするよね」みたいな自分の中でのノウハウみたいなものが構築され、次からは同じようにやればいいので、考えながらたくさん書くって重要だと気づきました。

%h3 評価される
%p 人に GitHub のページを見てもらったときに、「けっこう緑だ！」のようにプラスに評価されることがあります。仕事のお誘いなど声がかかることも多くなってきました。

%p 来年はいまより生い茂った緑にできるようがんばります。
