---
title: 今年もよろしくお願いしながら今年の目標を立てる
---
<p>ぼくは「今年もよろしくお願いします。」みたいな挨拶がそんなにすきじゃないんです。少なくともぼくとおつきあいのある人たちは「昨年それほどよろしくしてなかったやん！」または「俺たち改めてよろしくせなあかんほどの希薄な関係？！」のいずれかに分類されてしまうからです。でもそんなことをぼくの身分を知っている人も見ているこのブログで公言するのも気が引けます。うーん……、だから、とりあえず、気は進まへんけど、風習に従って「今年もよろしくお願いします」としぶしぶ申し上げることにします。</p>

<p>「あのねちょう」もボチボチ一周年なわけで、今年の目標をちょっと考えてみました。</p>

<ul>
    <li>iOSアプリ開発（2本構想あり）</li>
    <li>Webサービスを3本リリース（うち2本は構想あり）</li>
    <li>Ruby on Railsの習得（上記3本のうち1本はRoRで書く）</li>
    <li>デザインパターン</li>
    <li>RainboardをMySQLで動くようにしてUTF-8化する</li>
</ul>


<p>あたりですかね、どれだけできるか賭けましょう。ぼくはどれも達成できないに100円。</p>

<p>Rainboard、過去のバージョンのソースコードが改修に次ぐ改修を経て<a href="http://ja.wikipedia.org/wiki/%E3%82%B9%E3%83%91%E3%82%B2%E3%83%86%E3%82%A3%E3%83%97%E3%83%AD%E3%82%B0%E3%83%A9%E3%83%A0">スパゲティ</a>になってしまっていて、あまり更新の意欲が沸きません。イチから作り直したい。でもこのタイミングでイチから作り直すのであれば、ガラケーみたいな過去の遺産は斬り捨てたい、そんな心境です。絵文字は<a href="http://ja.wikipedia.org/wiki/%E6%90%BA%E5%B8%AF%E9%9B%BB%E8%A9%B1%E3%81%AE%E7%B5%B5%E6%96%87%E5%AD%97#Unicode.E3.81.B8.E3.81.AE.E5.8F.8E.E9.8C.B2">Unicode 6.0の絵文字</a>に対応するべきだし、未来はきっとそうあるはず。。</p>

<p>んじゃ、やりたいこと適当に書いただけやけど、今年も何か思うところがあればちまちまブログに書いていくので、適当によろしくね！</p>
