---
title: ダイエット成功には何が必要か？　から生まれた「やせったー」をリリース！
tags: information
---
<p>ダイエットに負けてしまいがちなのはなぜか。それは、「自分との戦い」だからではないだろうか。誰も応援してくれない孤独な戦いだと思うと気持ちも緩み、負けてしまう……。ぼくは今まで失敗続きのダイエットで「自分との戦いに勝つ方法」を考えてきたがうまくいかず、やり方を変えてみようと思って考えたのが「<a href="http://yasetter.com/">やせったー</a>」というサービスだ。コンセプトは、「自分との戦いに他人を巻き込む」こと。他人にも応援として参加させることができれば、と考え、自分のために作ったサービスだ。</p>

<h3>ちゃんとやってる、って思わせる</h3>


<p>人は多かれ少なかれプライドがあって、「こいつサボってるやん」なんて思われたくない。だから、継続的にTwitterに進捗報告することで「ダイエットやってるで」感を伝えると良いのではないか。必要最小限の機能は仕事の合間に3日ほどで実装した。Twitter APIをOAuthするアプリケーションもMySQLをたたくアプリケーションも初めてだったのでいろいろと勉強になった。別にぼくひとりの体重だったら体重を全世界に公開してもええねんけど、やっぱ多くのひとに使ってもらいたいという思いから、差分をつぶやく仕様とした。</p>

<h3>将来的には、ソーシャル的にしたい</h3>


<p>最近はグラフ機能を実装したが、一緒にダイエットしている友達のグラフと自分を重ねて比較したり……などすると、お互いモチベーションアップが図れるのではないだろうか……、など、「やせったー」の新機能のアイデアは出すぎて困っている。よりよいサービスにできるようぜひご意見いただきたい。</p>
