---
title: 1ページだけ作れるクラウドメモ、OnePadをリリースしました！
tags: Info, Release
---
<p><a href="https://onepad.youcube.jp/">OnePad | 1ページだけ作れるクラウドメモ</a>というのを作ってみました。</p>

<p>ぼくは調べ物をよくコンピュータでします。こんなとこデートしたいなとか妄想しながら、ひとりででかけることもよくあります。調べた結果をiPhoneに送るとき、ぼくはいつもわざわざメールしていました。</p>

<p>でも、自分宛のメールってナンセンスやし、自分宛のメールはだいたいすぐ必要なくなる。それやのにメールボックスに残り続けるし、消すなら消すでもいいけど、送信済みからも消さないとだめやしなんかちょっと、使う頻度のわりにあんまりスマートじゃない。</p>

<p>Evernoteとかもあるけど、同期が遅かったり、ちょっと送りたいだけやから翌日にはいらなくなるような内容だったり、タグやノートブックで管理するまでもなかったり、そんなことも多い。</p>

<p>そういった不便をなくしたくて、ぼくがぼくのためにつくりました。ひとつだけメモを作れるWebサービスです。メモごとにURLが割り当てられて、そのURLにアクセスすれば編集できます。Macで書いたメール本文をiPhoneに送り、続きをiPhoneで書いたりとか活用法はいろいろありそうです。自分なりに使ってみてください。</p>

<p>誰も使わなくてもぼくが一人で使います。質問、要望はここへコメントをお願いします。</p>
