---
title: 広島県の大久野島（うさぎ島）に行ってきました
tags: travel
---
<p>わりとまとまって夏休みがとれたので、<a href="http://hamusoku.com/archives/5506022.html">うさぎ島に行ってきたので写真貼ってく : ハムスター速報</a>に影響されて、思いつき旅が好きなぼくも行ってみることにしました。</p>

<p>戦時中は毒ガスを作っていて、一時は機密保持の観点から地図に載っていなかった島だそうです。</p>

<p>自転車で島を一周して、そのへんで出会ううさぎに餌付けとかしました。</p>

<p><span itemscope itemtype="http://schema.org/Photograph"><img src="https://cdn-ak.f.st-hatena.com/images/fotolife/y/youcune/20160831/20160831120501.jpg" alt="f:id:youcune:20160831120501j:plain" title="f:id:youcune:20160831120501j:plain" class="hatena-fotolife" itemprop="image"></span><span itemscope itemtype="http://schema.org/Photograph"><img src="https://cdn-ak.f.st-hatena.com/images/fotolife/y/youcune/20160831/20160831120504.jpg" alt="f:id:youcune:20160831120504j:plain" title="f:id:youcune:20160831120504j:plain" class="hatena-fotolife" itemprop="image"></span><span itemscope itemtype="http://schema.org/Photograph"><img src="https://cdn-ak.f.st-hatena.com/images/fotolife/y/youcune/20160831/20160831120554.jpg" alt="f:id:youcune:20160831120554j:plain" title="f:id:youcune:20160831120554j:plain" class="hatena-fotolife" itemprop="image"></span><span itemscope itemtype="http://schema.org/Photograph"><img src="https://cdn-ak.f.st-hatena.com/images/fotolife/y/youcune/20160831/20160831120453.jpg" alt="f:id:youcune:20160831120453j:plain" title="f:id:youcune:20160831120453j:plain" class="hatena-fotolife" itemprop="image"></span><span itemscope itemtype="http://schema.org/Photograph"><img src="https://cdn-ak.f.st-hatena.com/images/fotolife/y/youcune/20160831/20160831120457.jpg" alt="f:id:youcune:20160831120457j:plain" title="f:id:youcune:20160831120457j:plain" class="hatena-fotolife" itemprop="image"></span></p>

<p>船を降りたらまず青い無料バスに乗って島の中心になってる施設に行きます。うさぎのエサ（100円で結構な量）やおみやげを買うことができます。ちなみに、島で食事ができるところはここ以外にありません。ランチタイムとか注意しましょう。そのへんにはたぶん島でいちばんうさぎがいっぱいいます（どうやら人が集まるところを知っているらしい）。バスに乗れなくても、まあ10分ぐらいあれば歩けるのでそんに心配はいらないと思います。島に着いてゆっくりうさぎと遊びながらボロい自転車をレンタルしてサイクリングで島を一周し、毒ガス資料館を見て、所要時間は2～3時間ってとこだと思います。なかなか良かったのでぜひ行ってみてください。</p>
