---
title: iPhone5を予約して改めてメールの運用を考えてみた
tags: iPhone, email
---
<p>SoftBankからKDDIにMNPすることにしました。今まで友人との連絡にはi.softbank.jpを使っていたので、連絡先の変更を通知する必要がでてきたため、改めてメールの運用を考えてみました。簡単にレビューしつつ思ったことを書いていきます。</p>

<h3>@ezweb.ne.jp / @i.softbank.jp / @softbank.ne.jp</h3>


<p>キャリアのメールアドレス。おそらくは最も多い選択だと思います。しかし、ぼくは今後MNPするたびに連絡先を通知するのが嫌でした。キャリアに縛られたメールアドレスを使い続けるのはMNP時代において時代遅れだと思っています。メールアドレスが原因でキャリア選択の自由度を下げるのもいやです、時代遅れです。よってこの選択は却下しました。</p>

<h3>@facebook.com</h3>


<p>次に目をつけたのはfacebookメールです。facebookメールは、facebookのメッセージとして届けられ、友人とのやりとりではそれがfacebookのメッセージなのか、メールなのかを意識せずやりとりできます。友人との連絡をfacebook内に一元管理でき、しかもiPhoneではプッシュ通知され非常に魅力的だと思いました。しかし、友人以外からメールがきた場合、「その他」に振り分けられてしまい、これは通知が来ることなく、コンピュータからWebでメッセージを開き（iPhoneアプリでは不可、メッセンジャーのアプリを別途導入しても不可。2012年9月20日現在）、「その他」を押さないといけません。これは気づかない。転送もできない。よって非常に惜しいですがぼくは却下しました。</p>

<h3>@gmail.com</h3>


<p>Gmailはどうでしょうか。Gmailはきっと次に同じようなことを考えるときまでは使える気がしますし、Googleカレンダーと同期している人はGoogleにすると設定が簡単でいいかもしれません。ぼくは今、すべてのメールはGmailに転送されている（独自ドメインのメールも転送している）ため、メールをGmailにまとめるのはいいアイデアかもしれません。しかし、ぼくの場合で恐縮ですが、Gmailは他のメールもひっきりなしに来るため、すべてのメールに対して通知される必要はありません。逆に通知が面倒に思うこともありそうです。Boxcarとの併用やフィルタも考えられますが、「どこかのサービスで行き詰まったら、全体が動かなくなる」と思うので、あまり他のサービスを経由したくありません。ということで却下しました。</p>

<h3>@icloud.com / @me.com</h3>


<p>iPhoneユーザならiCloudを使うこれも選択肢になるでしょう。iOSデフォルトの機能でプッシュ通知に対応しています。連絡先やカレンダーをiCloudで同期している人はiCloud内に一元管理できて便利かもしれません。そもそもこれもiPhoneから他の端末に乗り換えたときにどうなるかわからないということと、不安定という声もそこそこありますが、当面Apple信者でいる予定なので候補に入れておきましょう。</p>

<p>余談ですが、iOS6からは取得できるメールアドレスが @me.com から @icloud.com になっているそうですが、機能は同じです。もっと昔には @mac.com というものもあったそうですが、これまた機能は同じだそうです。今取れるのは @icloud.com だけだと思います。</p>

<h3>独自ドメインメール</h3>


<p>VPSを契約しているので、もう自分好みのメールを作ってしまって好きに運用するのもアリかもしれません。でもぼくはサーバですぐあそんでしまって止めちゃったりするので安定性を求めるなら他社のサービスを使うほうがいいような気がします。</p>

<h3>結論</h3>


<p>前回検討したときは絵文字とプッシュ通知が必須要件でキャリアメールを選択していました。今はLINEやTwitterが流行って、メールでのコミュニケーションも減ってきています。今回はiCloudメールを使ってみることにしました。ぼくのお知り合いは本日中に連絡先の変更メールが届くことになると思います。よろしくお願いします。</p>

<p>ぼくの考えた軌跡が他の人の役に立てばいいなと思います。他にもいいアイデアがあればぜひコメントで教えてください！</p>

<p>＃LINEにメールサービスはじめてほしい。。</p>
