---
title: タブブラウザの操作性に対する5つのルール
tags: browser
---
<p>みなさん、タブブラウザつかってますか？　ぼくはタブブラウザの挙動について、慣れとか好みじゃなくて、「考えていくとその結果こうなるしかない」という自分なりの結論を持っているのですが、世の中のタブブラウザではあまりそのように実装されていません。 Firefox はカスタマイズの幅が広いため、なんとか思うように動かすことが可能だというイメージです。他の人の意見も聞けたら面白いなーと思って書いてみることにします。</p>

<h3>ルール1 リンクを新しいタブで開く場合は、自動でアクティブにしない</h3>

<h3>ルール2 アクティブなタブを閉じたら、すぐ左のタブをアクティブにする</h3>

<h3>ルール3 新規タブはアクティブなタブのすぐ右に開く</h3>

<p>まずこの3つのルールはセットです。なぜなら、</p>

<p>「Google検索し、結果の中で気になるページを複数連続して新しいタブで開くことがあるから」</p>

<p>です。</p>

<ol>
<li>1つのページを開く</li>
<li>読み込みを待つ</li>
<li>求めている結果じゃなかった！</li>
<li>「戻る」ボタンを（場合によっては複数回）押して検索結果に戻る</li>
<li>さっき開いたリンクの次のリンクを見つける</li>
<li>1に戻る</li>
</ol>


<p>という動作を繰り返すのは非効率的です。なので、「最終的に訪問したくなる可能性のあるページ」をまとめてバックグラウンドのタブで開いておいてしまいます。こうすることでページの読み込み時間を削減でき、行ったり来たりの動作も減らすことができます。連続して新しいタブで開きたいため、新しいタブで開いた瞬間にタブをアクティブにされては困ります（ルール1）。</p>

<p><span itemscope itemtype="http://schema.org/Photograph"><img src="http://cdn-ak.f.st-hatena.com/images/fotolife/y/youcune/20160325/20160325150925.png" alt="f:id:youcune:20160325150925p:plain" title="f:id:youcune:20160325150925p:plain" class="hatena-fotolife" itemprop="image"></span></p>

<p>次に、複数枚のタブを開いたときに、求めている結果ではなかったという場合について考えてみます。タブを閉じたら、複数開いておいた別のページが開き、すべて閉じきった場合には検索結果ページを表示してほしいです（おそらく次の行動としては他のページを見るかキーワードを考えなおすため）。この動作を実現するためには、タブを閉じたときに「最後に開いていたタブ」が開いては困ります。この動作を実現するためには2つの方法があります。</p>

<ol>
<li>新規タブはアクティブなタブのすぐ右に開き、アクティブなタブを閉じたら、すぐ左のタブをアクティブにする（ルール2・3）</li>
<li>新規タブはアクティブなタブのすぐ左に開き、アクティブなタブを閉じたら、すぐ右のタブをアクティブにする</li>
</ol>


<p>このどちらかの動作であればよいことになります。ここだけ好みになってしまうのですが、「新規タブが左にできるのキモい」という理由で1の動作にしています。</p>

<p><span itemscope itemtype="http://schema.org/Photograph"><img src="http://cdn-ak.f.st-hatena.com/images/fotolife/y/youcune/20160325/20160325150926.png" alt="f:id:youcune:20160325150926p:plain" title="f:id:youcune:20160325150926p:plain" class="hatena-fotolife" itemprop="image"></span></p>

<h3>ルール4 履歴がないとき「戻る」操作をしたらタブを閉じる</h3>

<p>そうそう、検索に限らず新しいタブで開くことって結構多いですよね。新しく開いたタブで「戻る」操作をしたときに、「新しく開いたタブで履歴がないので戻れない」は一見正しい動作に見えます。しかし、ぼくからすると「さっき見てたページが見たい」わけで、「新しいタブで開いたかどうかにかかわらず」同じ動作でさっき見てたページが見れるべきです。「さっき見てたページに戻りたいな。戻る、あれ、戻れない。じゃあ閉じる」とか「さっき見てたページに戻りたいな。このページは新しいタブで開いたんだっけ？　あ、そうだな、じゃあタブを閉じよう」とかやってらんないわけです。</p>

<p>そこで、履歴がないときに「戻る」操作をしたらタブを閉じるようにします（ルール4）。</p>

<h3>ルール5 履歴がないとき「進む」操作をしたら最後に閉じたタブを復元する</h3>

<p>上記の操作で元のページに戻ったとき、「進む」をしたときには元のページに戻ったことをやり直したいわけです。したがって、「進む」の場合は閉じたタブを復元します。</p>

<h3>（おまけ）どうカスタマイズしているのか</h3>

<p>Firefox でしかたぶん上記のこだわりは実現できません。ルール1～3については長らく <a href="https://addons.mozilla.org/ja/firefox/addon/tab-mix-plus/">Tab Mix Plus</a> をつかっています。4, 5についてはぼくはマウス派なのでマウスジェスチャでやっています。自分で Javascript を実装してカスタムできるのは <a href="https://addons.mozilla.org/ja/firefox/addon/firegestures/">FireGestures</a> です。</p>

<p>カスタムスクリプトについて、 <a href="http://sks.s201.xrea.com/blog/archives/893">元の記事</a> が404になってしまっているので下記に引用させていただきます。</p>

<h4>[Hybrid] Back / Close Tab</h4>

<pre class="code" data-lang="" data-unlink>if(gBrowser.sessionHistory.index&gt;0) gBrowser.goBack();
else gBrowser.removeCurrentTab();</pre>


<h4>[Hybrid] Forward / Undo Close Tab</h4>

<pre class="code" data-lang="" data-unlink>if(gBrowser.sessionHistory.index==gBrowser.sessionHistory.count-1) document.getElementById(&#34;History:UndoCloseTab&#34;).doCommand();
else gBrowser.goForward();</pre>

