---
title: 「刺激を受けた」とか言う奴の受けたものは刺激でもなんでもない
tags: life
---
<p>「刺激を受けた」という言葉があんまり好きじゃない。</p>

<p>刺激という言葉を考えると、中学理科で「刺激と反応」とかやったけど、刺激を受けたら反応があるわけで、例えばデブの僕で言うと食べ物を見たら唾液が分泌されるわけです。</p>

<p>（意識高い系とか人脈命みたいな人に多い印象ですが）「刺激を受けた」と言う人って、「刺激を受けた」と言うだけで、その後の自分のアウトプットに何か影響しているわけでも行動が変わるわけでもないことが多い気がしています。</p>

<p>反応を伴わないならそれ刺激じゃないから。</p>

<p>というのは自分へのメッセージですね。自分の考えをしっかりアウトプットしている人を見て刺激を受けたので、僕もブログをちょっとずつ書いていくことにしてみます。</p>
