---
title: 人真似することに価値はないが、人真似しないことにも価値はない
tags: life
---
<p>ブログ活動2日目です。ぼくは、</p>

<h3>人真似することに価値はない</h3>

<p>と思っています。僕はいきものがかりボーカルの吉岡聖恵ちゃんが好きです。でも、その好きだという気持ちを伝えたいと思ったとして、世の中にはライバルが多すぎます。吉岡聖恵ちゃんはモテモテですから、気持ちを伝えられた経験なんて掃いて捨てるほどあります。</p>

<p>さて、ここで、掃いて捨てられ（そうになっ）た彼らと全く同じ手法でアプローチすることに意味はあるでしょうか。</p>

<p>ビジネスでも同じで、他人が成功を収めたビジネスをそのまま模倣して始めるとどうでしょうか。模倣している間に競合はすでにその基盤を活用してさらに先に進んでしまっているはずで、何か差別化の要素がないとなかなか難しいのではないかと思います。</p>

<p>このように、人と同じことをすることにはあまり意味はなく、可能性は拓くためには人真似ではないことをしないといけないです。</p>

<h3>ただ、人真似しないことにも価値はない</h3>

<p>しかし、最近は「みんなこうしているし自分もこうすべきなのは分かってはいるけど、でもそれってみんなやってる人真似じゃん……」と「人真似しないこと」を理由に「やらないことを正当化」してしまうのは間違っていると思うようになってきました。</p>

<p>「みんなやっている」ということは数々の成功実績がある裏付けであり、あまのじゃくみたいになってしまうとかえって尻込みしてしまう結果になることも多いように感じています。</p>

<p>ということで、やっぱり僕はいずれ吉岡聖恵ちゃんに告白しようと思います。</p>
