---
title: 起業家・フリーランス必見！　会社経営を1年やって役立ったサービス・アプリ11選
tags: business
---
<p>こんにちは、 @youcune です。本日、起業して1年が経過しました。そこで、今日は「この1年間、このサービスによって支えられた」みたいなものがいくつかあるので紹介していきたいと思います。よくあるよねこういう記事。でも、そういう記事の多くはアフィリエイト目的。本当にオススメのものかどうかはさておき、利益になるサービスしか紹介されていません（アフィリエイトのせいでネット上の記事の質が落ちると思っているので広告ブロックは品質の向上に貢献するのではないかという仮説を持っていたりしますが、そのへんの話はまた時間のあるときにしましょう）。この記事はぼくの目線でぼくが役立ったサービスを紹介していきたいと思います。</p>

<h3><a href="https://www.misoca.jp/">&#x8ACB;&#x6C42;&#x66F8;&#x4F5C;&#x6210;&#x30B5;&#x30FC;&#x30D3;&#x30B9;&#x300C;Misoca(&#x30DF;&#x30BD;&#x30AB;)&#x300D;</a></h3>

<p><span itemscope itemtype="http://schema.org/Photograph"><img src="http://cdn-ak.f.st-hatena.com/images/fotolife/y/youcune/20160325/20160325151414.png" alt="f:id:youcune:20160325151414p:plain" title="f:id:youcune:20160325151414p:plain" class="hatena-fotolife" itemprop="image"></span></p>

<p>見積書や請求書がWeb上で作れます。PDF出力やメール送信はもちろん、郵送までやってくれます（郵送は有料）。封筒や切手の在庫管理、印刷や封入、宛名を書いて投函する手間などを考えると圧倒的に安いです。</p>

<h3><a href="http://www.freee.co.jp/">&#x4F1A;&#x8A08;&#x30BD;&#x30D5;&#x30C8; freee (&#x30D5;&#x30EA;&#x30FC;) | &#x7121;&#x6599;&#x304B;&#x3089;&#x4F7F;&#x3048;&#x308B;&#x30AF;&#x30E9;&#x30A6;&#x30C9;&#x4F1A;&#x8A08;&#x30BD;&#x30D5;&#x30C8;</a></h3>

<p><span itemscope itemtype="http://schema.org/Photograph"><img src="http://cdn-ak.f.st-hatena.com/images/fotolife/y/youcune/20160325/20160325151411.png" alt="f:id:youcune:20160325151411p:plain" title="f:id:youcune:20160325151411p:plain" class="hatena-fotolife" itemprop="image"></span></p>

<p>会計・給与計算システムです。misocaと連携させて、売上管理とかもできます。こないだ社会保険事務所に調査で呼ばれたときに「今月から変わった社会保険料が正しく計算されてる！」と褒められました。こういうところはクラウドサービスの強みだと思います。よくMから始まるサービスと比較され、「freeeは複式簿記形式で入力できないからMの方にした」とか言われてますが、いや普通に普通の複式簿記形式での入力もできますから。「決済」という概念がある分、ぼくは両方使ってfreeeに落ち着きました。</p>

<h3><a href="https://toggl.com/">Toggl - Free Time Tracking Software</a></h3>

<p><span itemscope itemtype="http://schema.org/Photograph"><img src="http://cdn-ak.f.st-hatena.com/images/fotolife/y/youcune/20160325/20160325151417.png" alt="f:id:youcune:20160325151417p:plain" title="f:id:youcune:20160325151417p:plain" class="hatena-fotolife" itemprop="image"></span></p>

<p>時間管理に使っています。プロジェクトごとにわけて、「バックオフィスの業務に時間を使いすぎていないか？」「このお客様からいただいている費用分の貢献活動ができているか？」「自分はどの活動に時間を充てるのが利益を最大化できるか？」などトラッキングできるようにしています。Toggl Desktopというデスクトップアプリを使っていると、Macに向かっているのにタイマーが動いていなかったらアラートが出続けます。従業員の給与計算にも使っています。</p>

<h3><a href="https://ja.todoist.com/">To-Do&#x30EA;&#x30B9;&#x30C8;&#x3068;&#x30BF;&#x30B9;&#x30AF;&#x7BA1;&#x7406;&#x3002;&#x7121;&#x6599;&#x3001;&#x7C21;&#x5358;&#x3001;&#x30AA;&#x30F3;&#x30E9;&#x30A4;&#x30F3;&#x3068;&#x30E2;&#x30D0;&#x30A4;&#x30EB;&#x7528;: Todoist</a></h3>

<p><span itemscope itemtype="http://schema.org/Photograph"><img src="http://cdn-ak.f.st-hatena.com/images/fotolife/y/youcune/20160325/20160325151416.png" alt="f:id:youcune:20160325151416p:plain" title="f:id:youcune:20160325151416p:plain" class="hatena-fotolife" itemprop="image"></span></p>

<p>UIがすぐれたTodo管理アプリ。今まであまりしっくりくるものがなかったのですが、これは長く使っています。ぼくは本当に忘れっぽくて、電話で「来週目処に返答します」と言ったことも忘れてしまいがちです。そういうのを細分化してTodoistにいれておき、毎朝漏れがないか確認してから今日やる作業を決めるという流れが定着してきました。</p>

<h3><a href="https://8card.net/">100&#x4E07;&#x4EBA;&#x304C;&#x4F7F;&#x3046;&#x540D;&#x523A;&#x7BA1;&#x7406;&#x30A2;&#x30D7;&#x30EA; Eight</a></h3>

<p><span itemscope itemtype="http://schema.org/Photograph"><img src="http://cdn-ak.f.st-hatena.com/images/fotolife/y/youcune/20160325/20160325151409.png" alt="f:id:youcune:20160325151409p:plain" title="f:id:youcune:20160325151409p:plain" class="hatena-fotolife" itemprop="image"></span></p>

<p>名刺管理アプリ。名刺をアップロードしたら文字情報にしてくれて検索可能にしてくれます。Eightのユーザー同士は転職や所属が変わったときに自動でアップデートしてくれるというのはありがたいです。「あ、転職したんですか？」「昇進おめでとうございます」みたいなコミュニケーションが発生することもあります。ぼくは人と話したことも忘れてしまいがちなので、話した内容をメモすることにも使っています。ただ、電話がかかってきたときに誰からか名前が出ないのが困るので、iPhoneの連絡先に同期する方法を提供してほしいです。</p>

<h3><a href="https://www.dropbox.com/ja/">Dropbox</a></h3>

<p><span itemscope itemtype="http://schema.org/Photograph"><img src="http://cdn-ak.f.st-hatena.com/images/fotolife/y/youcune/20160325/20160325151408.png" alt="f:id:youcune:20160325151408p:plain" title="f:id:youcune:20160325151408p:plain" class="hatena-fotolife" itemprop="image"></span></p>

<p>言わずと知れたファイルを同期してくれるサービス。無料で使っています。これと……</p>

<h3><a href="https://agilebits.com/onepassword">1Password</a></h3>

<p><span itemscope itemtype="http://schema.org/Photograph"><img src="http://cdn-ak.f.st-hatena.com/images/fotolife/y/youcune/20160325/20160325151404.png" alt="f:id:youcune:20160325151404p:plain" title="f:id:youcune:20160325151404p:plain" class="hatena-fotolife" itemprop="image"></span></p>

<p>を合わせて使っています。社内で共有するアカウントとヴォールトを分け、共有するアカウントはDropboxの共有ディレクトリに入れるという使い方をしています。</p>

<h3><a href="http://writeapp.net/">Write - A Beautiful Writing &amp; Note Taking App for iPhone, iPad and Mac with Dropbox and iCloud Sync</a></h3>

<p><span itemscope itemtype="http://schema.org/Photograph"><img src="http://cdn-ak.f.st-hatena.com/images/fotolife/y/youcune/20160325/20160325151420.png" alt="f:id:youcune:20160325151420p:plain" title="f:id:youcune:20160325151420p:plain" class="hatena-fotolife" itemprop="image"></span></p>

<p>これもDropboxと連携して使っています。Markdownでメモが取れる、iOS/Mac対応アプリです。海外製なので日本語の入力とか、リストのインデントとかちょっと動作がアヤシイところもあり、もうちょっとよさげなのがあったら乗り換えたい……。</p>

<h3><a href="https://about.gitlab.com/">Code, test, and deploy together with GitLab open source git repo management software | GitLab</a></h3>

<p><span itemscope itemtype="http://schema.org/Photograph"><img src="http://cdn-ak.f.st-hatena.com/images/fotolife/y/youcune/20160325/20160325151413.png" alt="f:id:youcune:20160325151413p:plain" title="f:id:youcune:20160325151413p:plain" class="hatena-fotolife" itemprop="image"></span></p>

<p>最初はGitHubを使っていたんですが、やっぱり使っている量のわりに月々のコストが割高感あります。クライアント案件とか案件が終了したらほぼリポジトリ触らないのに課金は続くという状態になっていました。次にGitLab.comを使い始めましたが、他社と協業して制作にあたるようなことがあり、こちらで一元的にアカウント＆権限管理できるほうが使い方にあっていると思い、さくらのVPSを借りてGitLab Omnibusでさくっと立てちゃいました。</p>

<h3><a href="http://www.backlog.jp/">Backlog - Backlog [&#x30D0;&#x30C3;&#x30AF;&#x30ED;&#x30B0;]</a></h3>

<p><span itemscope itemtype="http://schema.org/Photograph"><img src="http://cdn-ak.f.st-hatena.com/images/fotolife/y/youcune/20160325/20160325151405.png" alt="f:id:youcune:20160325151405p:plain" title="f:id:youcune:20160325151405p:plain" class="hatena-fotolife" itemprop="image"></span></p>

<p>課題管理システム。いろいろ検討しましたが、このプレミアムプランに落ち着きました。複数プロジェクトが並行していて「いま仕事うけれるの？」が全然わかっておらず、無理して受けてしまうということがありました。プロジェクト横断で自分のタスクのガントチャートが見れて、「どの時期にどのタスクを抱えており、どのへんなら仕事を受けてよいか？」など可視化されました。ただ、ほぼ1人プロジェクトで、かつ、この機能のために年間10万ぐらいかかっているようなものなので割高感はあります。チャンスあれば乗り換えるかもしれません。</p>

<h3><a href="https://bg-bizer.jp/">&#x30D0;&#x30C3;&#x30AF;&#x30AA;&#x30D5;&#x30A3;&#x30B9;&#x652F;&#x63F4;&#x3092;&#x30AF;&#x30E9;&#x30A6;&#x30C9;&#x3067;&#x3002;&#x6708;&#x984D;2980&#x5186;&#xFF5C;Bizer&#xFF08;&#x30D0;&#x30A4;&#x30B6;&#x30FC;&#xFF09;</a></h3>

<p><span itemscope itemtype="http://schema.org/Photograph"><img src="http://cdn-ak.f.st-hatena.com/images/fotolife/y/youcune/20160325/20160325151407.png" alt="f:id:youcune:20160325151407p:plain" title="f:id:youcune:20160325151407p:plain" class="hatena-fotolife" itemprop="image"></span></p>

<p>入社手続きなど会社運営の手続きについて、必要なタスクを一覧表示、進行管理できるWebサービスです。士業の方に質問もできます。小規模な会社ならもう税理士とかと顧問契約いらないんじゃないでしょうか？　決算書を作ってくれるサービスも5万円からと良心的です（税理士の友人いわく、相場は10万かららしいです）。</p>

<h3>まとめ</h3>

<p>いつも使いやすいサービスを提供していただいて感謝します。「こんなのもあるよ」とかあったら Twitter @youcune におしえてください！</p>
