---
title: 財布を落としたので再発防止策を考えてみた
tags: life
---
<p>財布を落としました。間違いなくここで落としたというところを探してもありませんでした。この反省を踏まえ、今後どうすれば回避できたかを3段階に分けて考えてみました。</p>

<h3>落とす確率を下げる</h3>

<p>まず事故を未然に防がないとダメです。iPhoneと離れたら通知が来るという<a href="https://www.thetrackr.com/">TrackR</a>を買ってみました。使い勝手とかはまた届いたら書くかもしれません。</p>

<h3>落としても手元に返ってくる確率を上げる</h3>

<p>悪意を持った人が財布を拾ったときに、足がつくのでクレジットカードを悪用しようとは思わないでしょう。つまり欲しいのは現金。しかし、落としたこちらからすれば、「現金は取ってもいいからカードや身分証明書を返して欲しい」というのが本音でしょう。それを逆手に取って「この財布を習得して連絡してくれた場合、中の金額の倍額をお支払いします」と連絡先を書いたメモを挟んでおけばきっと返ってくるような気がします。</p>

<p>他にも、</p>

<p><iframe src="//hatenablog-parts.com/embed?url=http%3A%2F%2Firorio.jp%2Fnatsukirio%2F20150908%2F259166%2F" title="痛恨のミス！財布、落とした！東京で財布が戻ってくる確率は？" class="embed-card embed-webcard" scrolling="no" frameborder="0" style="display: block; width: 100%; height: 155px; max-width: 500px; margin: 10px 0px;"></iframe><cite class="hatena-citation"><a href="http://irorio.jp/natsukirio/20150908/259166/">irorio.jp</a></cite></p>

<p>上記の記事によると、「財布に笑っている赤ちゃんの写真を入れていると、手元に戻る確率が6倍近くになる」という興味深いデータです。これはコストをそれほどかけずにすぐ効果が出せそうです。</p>

<h3>返ってこなくても被害額を下げる</h3>

<p>そして、次の段階で、落としてしまったときの被害を減らすことを考えました。</p>

<ul>
<li>現金は20,000円以上入れない（そもそも高額なものはクレジットカードで買うじゃん）</li>
<li>入れるカードは厳選し数を減らす（ネット通販中心の僕はクレジットカード3枚も入れておく必要はあったのか？）</li>
<li>どのカードを入れているかは完全に把握しておく（あのカード入れてたっけ……となってとりあえず止めたりしました）</li>
</ul>


<p>みなさま、財布のお取り扱いにはお気をつけください。</p>
