---
title: プッシュ通知に消耗している気がしてきた
tags: Life,Thoughts
---
<p>仕事に集中しているときにApple Watchが震えたり、画面の右上に通知が出たり、音が鳴ったりすると本当に集中力がそがれます。特にDockで僕が反応するまでアイコンがバウンドするようなアプリの開発者は「集中して仕事する」という経験がないとしか思えません。</p>

<p>そもそも、1日何度も通知は発生しますが、そのうちリアルタイムに気づく必要のあるものっていったいどれぐらいなのでしょうか？</p>

<p>いっかいすべて通知をOFFにしてみて、通知がOFFだったために困ったことになった場合、必要最小限に絞って個別にONにしていくという運用にしてみたいと思います。しばらく運用してみてまたどうなったか書くかもしれません。</p>

<p>本当に必要なときは電話が鳴るでしょ。</p>

<p>LINEやFacebookメッセンジャーみたいなアプリには本当に「グループのスレッドは通知は一度だけ機能」が欲しいです。仕事やスプラトゥーンに集中しているときに会話が進むたびにずっと通知が鳴り続けるのは本当に消耗します。「未読がある状態」であることさえ分かれば手が空いたときに見ます。「未読ができたときだけ」通知があればいいと思います。この機能がつかないのは、「通知OFFにする人が増えて、アクティブユーザーが減る」ではなく「むっちゃ通知が来るからアクティブユーザーが増える」効果があるんだろうな。</p>
