---
title: 秋淀で3DSの予約に9時間並んだのでまとめ
tags: Games
---
<p>実は初めて並びました。次に並ぶときは、この経験を役立てたいのでメモしておきます。それと、次のハードが出るときとかに誰かの役に立つといいなあ。</p>

<h3>秋淀とは</h3>


<p>一応、ちなみに秋淀の意味は、「<strong>ヨド</strong>バシカメラマルチメディア<strong>Aki</strong>ba」のことです。</p>

<h3>記録</h3>


<ul>
    <li>22:50 ヨドバシカメラマルチメディアAkibaに到着。列は10名ほど。</li>
    <li>23:00 日比谷線とJRを乗り換えるために通り過ぎる人に「こんな時間から待ってるの？」と笑われる。</li>
    <li>00:30 Twitterに「渋谷のTSUTAYAで予約完了」との報告がちらほら出る。</li>
    <li>01:00 だいたい20人になる。終電が過ぎたのでこれからしばらくあまり増えないだろうなと思う。</li>
    <li>04:30 だいたい30人。</li>
    <li>05:30 始発組が到着し始める。75人ぐらい。警備員による整列が始まる。<span itemscope itemtype="http://schema.org/Photograph"><img src="https://cdn-ak.f.st-hatena.com/images/fotolife/y/youcune/20160831/20160831114128.jpg" alt="f:id:youcune:20160831114128j:plain" title="f:id:youcune:20160831114128j:plain" class="hatena-fotolife" itemprop="image"></span></li>
    <li>06:00 勢いよく増えてたぶん150人ぐらいいそう。Twitterで「ソフマップはほとんど並んでない」とか「石丸電気はゼロ」といった情報が流れ始める。</li>
    <li>06:30 「これ並ばんくても良かったんちゃうんか？」と気づき始める。</li>
    <li>08:00 予約開始、お疲れ様です！</li>
</ul>


<h3>反省点</h3>


<p>過去の分析ができていなかったことです。何時頃に行けばいいのかわからず、「とりあえず夜から並んでたらええやろ！」と、翌日に有給休暇を取得してカンテツしてしまいました。</p>

<p>そして、私は「近畿地方のシベリア」と呼ばれる地域で育ったため、トーキョーの寒さをなめてました。段ボール、毛布、手袋、厚手の靴下あたりは必須かと思います。寝袋を持ってきている人もいてすげーと思いました。</p>

<h3>良かった点</h3>


<p>私が到着した時にはすでに、「ソフト何買う」など、知らない人同士での会話が盛り上がっていました。また、寒い中待っていると、他に並んでいた人が段ボールやカイロ、バームクーヘンを配ってくれて、気温は寒くとも心が温まりました。</p>

<p>「並ばんでも予約できたんやったら並ぶ必要なかったやん」って思うかもしれません。しかし、共通の目的を持った人たちと待つ、お祭りのようなものかなー、とも思うのです。少なくとも私は待っていて非常に楽しむことができました。</p>

<p>また次の機会があればぜひ先頭グループに並びたいと思います。今度は防寒対策をしっかりしてね！</p>
