---
title: 脱フルオート！　絞り優先自動露出モードを使って写真を撮ろう！
tags: Photos, Recommended
---
<h3>2011年のカメラ動向</h3>


<p>昔は「携帯電話のカメラよりいい絵が撮りたかったらコンパクトデジカメを買いましょう」という感じでしたが、ここ最近はコンパクトデジカメの性能に迫ってきたように思います。コンパクトデジカメも負けじと機能強化を図っており、「ミラーレス一眼」「高級コンデジ」のような新たなカテゴリもできています。今回はデジカメのモードダイヤルに「A」「Av」「AE」といったものが搭載されてはいるけれども（メーカーによって表記が違います。ボクがペンタックスユーザなのでこの記事では以下Avに統一してお話しします）、いつもフルオートで撮影しているという人を対象に、ぼくがカメラ持ち始めたころよくわかんなかった理屈をお話しし、「Avモード＋露出補正を駆使して撮ろうよ」とオススメする記事です。</p>

<h3>Avモードとは？</h3>


<p>Avモード（絞り優先自動露出モード）は、「絞り（F値）だけカメラマンが指定するから、あとはカメラでテキトーにやってねモード」です。プロもこれをいちばん使うそうです。なぜ絞りを指定して撮るのか、その大きな理由は「絞りが写真の絵に影響するから」です。</p>

<p>つまり、ぼくが言いたいのは「こんなに絵に大きく影響するのをカメラ任せにしちゃうなんて何事か！」というわけです。いくらカメラの性能が向上してオートがかしこくなったとしても、カメラマンがどのような絵にしたいか、そんな意図はカメラにはわかりません。なので、ぜひ絞りは指定して撮ってみましょう。では、具体的にどう写りが変わってくるのでしょうか。</p>

<p><span itemscope itemtype="http://schema.org/Photograph"><img src="https://cdn-ak.f.st-hatena.com/images/fotolife/y/youcune/20160831/20160831114557.jpg" alt="f:id:youcune:20160831114557j:plain" title="f:id:youcune:20160831114557j:plain" class="hatena-fotolife" itemprop="image"></span>F値22</p>

<p><span itemscope itemtype="http://schema.org/Photograph"><img src="https://cdn-ak.f.st-hatena.com/images/fotolife/y/youcune/20160831/20160831114554.jpg" alt="f:id:youcune:20160831114554j:plain" title="f:id:youcune:20160831114554j:plain" class="hatena-fotolife" itemprop="image"></span>F値11</p>

<p><span itemscope itemtype="http://schema.org/Photograph"><img src="https://cdn-ak.f.st-hatena.com/images/fotolife/y/youcune/20160831/20160831114604.jpg" alt="f:id:youcune:20160831114604j:plain" title="f:id:youcune:20160831114604j:plain" class="hatena-fotolife" itemprop="image"></span>F値5.6</p>

<p><span itemscope itemtype="http://schema.org/Photograph"><img src="https://cdn-ak.f.st-hatena.com/images/fotolife/y/youcune/20160831/20160831114600.jpg" alt="f:id:youcune:20160831114600j:plain" title="f:id:youcune:20160831114600j:plain" class="hatena-fotolife" itemprop="image"></span>F値2.8</p>

<p>背景のボケ具合が違うのが分かるでしょうか。絞り（F値）は、ピントの合う（ように見える）範囲を指定します。背景から切り離して被写体を目立たせたいのであれば背景はぼかし、記念撮影で並んで、背景も写したいのであれば背景がくっきりするような絞りを選択すればよいことがわかります。</p>

<p><span itemscope itemtype="http://schema.org/Photograph"><img src="https://cdn-ak.f.st-hatena.com/images/fotolife/y/youcune/20160831/20160831115612.jpg" alt="f:id:youcune:20160831115612j:plain" title="f:id:youcune:20160831115612j:plain" class="hatena-fotolife" itemprop="image"></span>グラビアなどで、背景をぼかしてそれっぽく主題を際立たせて見える技法がよく使われますが、これはF値を小さくして撮られたものなんですね！　話は変わりますが、絞りは目の開く大きさであるとも言えます。視力低下はピントを合わせる能力が低下している状態です。遠くのものがよく見えないとき、目を細めると若干よく見えませんか。あれは目の開き方を小さくすると、ピントの合う（ように見える）範囲が広がるのです。カメラのレンズもこれと同様で、絞り（目の開き方）の値を大きくする（絞りを絞る）と、ピントの合う（ように見える）範囲が広がり、結果として広い範囲がくっきり見えるようになります。</p>

<p>「ぼかすのもええけど、ピンぼけの心配が減るのであれば、くっきり写るように絞りの値を大きくする方がええんちゃう？」と思ったかもしれません。それはそれで「露出」が変化するため、特に光が少ない場面で不利になります。</p>

<h3>露出とは？</h3>


<p>Avモードとか露出とかヤラシイ意味っぽい用語が続出していますが、ここでの露出は写真の光の量、つまり明るさのことを指します。写真の露出（光の量だってば！）は、カメラマンから見れば次の3（4）つの要素で決まります。</p>

<ul>
    <li>絞り（F値）</li>
    <li>シャッタースピード</li>
    <li>ISO感度</li>
    <li>（露出補正）</li>
</ul>


<p>カメラの場合、明るさを維持するには、同じ量の光を集めないといけません。目を細める（絞り値を上げて絞りを絞る）とレンズに入ってくる光の量は減ります。絞り値を√2倍にすると、「露出が1段下がる」という状態になります。「露出が1段下がる」ということは、入ってくる光は1/2倍になるということです。つまり、他の方法を使って光の量を2倍確保しなければいけません。その方法はふたつ（組み合わされることが多いですが）あります。</p>

<ul>
    <li>シャッタースピードを2倍の長さにする</li>
    <li>ISO感度を2倍にする</li>
</ul>


<p>「絞り優先自動露出モード」は「絞りだけ指定するから、あとはカメラでテキトーにやってねモード」なので、あとはカメラが自動でこのどちらかの方法でリカバリーしてくれます（このどちらの方法も露出が1段上がるので、下がった露出を元に戻し、同じ明るさを維持できるようになります）。</p>

<p>シャッタースピードが2倍になると、シャッターが開いている間に動いた手の動きが写真に記録されるため、手ぶれの危険性が増します。また、ISO感度が2倍になると、光に対して敏感になり、いらない光まで拾ってしまい画質が落ちることにつながります。</p>

<p>なので、実際にはどちらかの方法ではなく、深く考えなくてもカメラが自動で組み合わせて調整することが多いです。</p>

<p>光が少なければ手ぶれ、画質低下の原因になると言うことですね。夜や室内で手ぶれしやすいのはそういうわけです。こういった光の少ないシーンではしっかり目を開く（絞り値を下げる）方がよいでしょう。シャッタースピードが遅くなる対策として、三脚で固定するのも手です。</p>

<p>絞り値をどこまで下げられるかはカメラのレンズ性能に依存します。一般に、絞り値の値が小さければ小さいほどレンズの性能は高いとされます。絞り値を下げれば暗いところにも対応でき、どんなシーンでも柔軟に対応できるためです。F2.8より小さければかなり優秀でしょう。</p>

<p>F値を大きく設定すれば、広い範囲にピントが合うように見えますが、その分手ぶれや画質の面で不利になります。こういったコントロールができるのはAvモードならではと言えそうです。</p>

<h3>露出補正とは？</h3>


<p>Avモードでは、カメラはちょうどいい明るさ（適正露出）になるようにシャッタースピードとISO感動を調整するというのはさっきの説明通りです。ですが、カメラが決めた適正露出ではイメージとちょっと違う、ということもあるでしょう。カメラが決めた適正露出は、カメラマンの意図する適正露出とは異なり、どんなに進化したカメラもカメラマンの意図を理解することはできません。よって、イメージと違う場合は露出補正を使い、自分のイメージをカメラに伝えてやる必要があります。</p>

<p>多くの機種では+と-が書いてあるボタンか、メニューの中にそんなアイコンがあると思います。Avモード下でこの値を-1にすると、露出が1段下がります（光の量が反部分になります）。Avモードでは、絞り値はカメラマンが決め、シャッタースピードとISO感度を決めるのはカメラの仕事でした。つまり、露出補正を1段下げると、カメラが適当だと思われるシャッタースピードとISO感度のいずれか（あるいは両方合計で）1段下げ、最終的な絵が暗くなるよう調整してくれます。1段暗くして撮るということまで意識した上で、カメラはシャッタースピードとISO感度を選択するようになります。</p>

<p>「綺麗やと思って山の写真を撮ったのに、家に帰ってみてみるとなんか味気ない……！」という経験、誰もがあると思います。これは、暗い色の山を明るく写してしまったのが原因ということが多いです。一般に、風景はマイナス補正、オンナノコはプラス補正が良いです。美肌に写ります。</p>

<p>山など全体の絵が暗い場合、カメラは「全体が暗いから、明るくしないといけない」と考え、本来より明るく写してしまいます。全体が暗いときにはマイナス補正でキレイに写るでしょう。明るいときも同様です。雪景色の撮影はプラス補正になるでしょう。</p>

<h3>今日のまとめ</h3>


<p>写真はフルオートじゃなく絞り優先自動露出モード（A, Av, AEモード）で撮り、ボケ具合も手ぶれも画質もコントロール意のままにしよう！</p>

<p>ぼくもまだまだ初心者なので、何かご指摘ありましたらコメント欄でおねがいします。</p>
