---
title: MacみたいにWindowsでホイールスクロールを上下逆にするフリーソフト
tags: Apple, Mac, Windows
---
<p class="info">コメントで教えていただきましたが、レジストリをいじって変更する方法もあるようです。<a href="http://d.hatena.ne.jp/amarui/20120505/1336196908">Windows 7のマウスホイールを上下逆に - 丸井綜研</a>をご覧ください。</p>


<p>アップル信者の大きな特徴として、「アップル様の仰ることは正」だと盲信してしまうところが挙げられると思います。はいそうです、アップルの教えに従って、アップル製のワイヤレスベースステーションを買い、 MobileMe に加入し、 Mac を2台持っていると、 IP アドレスを知ることなく画面共有やファイル共有ができる生活が待っています。また、 iPhone を紛失しても別の iPad から探せます。 iPad の画面を Apple TV で流すこともできるようになるそうです。アップル製品で身の回りを固めるとこのような幸せな生活が待っています、とか書いてるから信者と揶揄されるんですね、わかります。さて、今日はそんな信者の戯れ言です。</p>

<p>Mac OS X Lion が出ましたが、これをインストールするとデフォルトでスクロールの方向が逆になる！</p>

<p>んです。今まで下にスクロールしたくて Magic Mouse を下になぞっていたんですが、これからは上になります。 iOS と操作感を統一するためだと思われますが、英断ですね。こういう「今までの常識」にとらわれないところ、大好きです。フォルダという概念を捨てて搭載した Launchpad 、いいですね。かつてアップルはマウスが普及していなかった時代に、マウスを流行らせるためにあえてキーボードから矢印キーを省いたそうです。そういう発想、超イケてます、素敵です。常識に捕らわれないで常に必要性を考え、合理的に進化させていく……</p>

<p>すみません、また話がそれました。つまり、スクロールが逆になります。こんな英断を下しちゃうアップルさんが逆にすると言えば、アップル信者は「逆にする方がコンピュータの動作としては自然で正しい！」という気がしてきます。と、いうことで、 Windows でもマウスホイールの向きを逆にしないと、慣れないし誤操作も多くなります。 Windows でマウスホイールの回転を上下逆にしたいなー、そんな方法ないのかなー、と思ったらそんなソフトウェアを発見しました。</p>

<ul>
    <li><a href="http://www.vector.co.jp/soft/winnt/util/se420984.html">WheelReverse</a><br>
    回転方向を逆にするだけのソフト。シンプル。設定もなし。ただ、タスクトレイに格納できないので我慢するか、タスクトレイに格納できる別のソフトとの併用が吉。ぼくは<a href="http://ara.moo.jp/pita/">ぴたすちお</a>使ってる。</li>
    <li><a href="http://bestware.jp/pro_zwheel2.htm">ZWheel.NET</a><br>「動作」を「標準」にするとぼくの環境ではしっかり動いてくれます。</li>
</ul>


<p>＃ Mac の方を今まで通りのスクロールにしろよ、というご意見は承りかねます（Macのスクロール方向変更はシステム環境設定から簡単にできます）。アップル信者はアップルの教えに背くことはできないのです……</p>
