---
title: スティーブ・ジョブズのええ顔
tags: life, Apple
---
<p><span itemscope itemtype="http://schema.org/Photograph"><img src="https://cdn-ak.f.st-hatena.com/images/fotolife/y/youcune/20160831/20160831115918.png" alt="f:id:youcune:20160831115918p:plain" title="f:id:youcune:20160831115918p:plain" class="hatena-fotolife" itemprop="image"></span></p>

<p>スティーブ・ジョブズの訃報を聞き、<a href="http://www.apple.com/">アップルのサイト</a>には彼の写真が大きく表示され、「彼の精神はこれからも永遠にアップルの礎です」と彼を追悼するページが作成された。このスティーブ・ジョブズの顔を見て、「あ、『ええ顔』やな」と思った。</p>

<p>私は学生時代にちょっとヤンチャをしでかし、90日の免許停止処分を受けたことがある。そんな人々にも救済措置が用意されており、2万円弱（忘れた）を払い講習を受け、試験の結果によって免停の期間が短縮される制度がある（期間を短縮したい人だけ受ければ良い任意の講習なのだが、当時重い病気の身内がおり、私が車で送迎や見舞いなどしていたため一日も早い免許復活が必要だった）。そこで受講した講習で講師を務めていた（オフレコ：もと警察官と言っていたので天下った感じの）オッサンは結構エラそうな感じだった。まあ講習の受講生が、また次すぐ事故を起こしそうなおじいちゃんとか、運転下手そうなおばさんか、若者相手ばかりだったらそうなるのかもしれない。その講師の（オフレコ：もと警察官と言っていたので天下った感じの）オッサンは言った。</p>

<p>「今日は、顔の話をします。」</p>

<p>その講師の（オフレコ：天下った感じの）オッサンはお世辞にもいい顔とは言えなかった。続いて（オフレコ：天下った感じの）オッサンは新聞記事を2枚並べた。両方とも大きな写真がついており、一枚はあるスポーツ選手が成果を出したときの写真、もう一枚がある会社が不祥事を起こし社長が謝罪している写真だった。</p>

<p>「どうや、この○○選手、ええ顔しとうやろ。でも、こっちの○○の社長はどうや？　ええ顔してへんな。君たち、ほとんどの人が事故起こしてここ来てると思うんやけどな、一歩間違えたらこっちの社長なるで。活躍して、成果だして、ずっと『ええ顔』して生きていきたいやんか。」</p>

<p>私は当時さめた学生だったので、「あーはいはいまた精神論ね」みたいにしか受け取っていなかったが、今朝iMacでジョブズの遺影を見て、「あ、『ええ顔』やな」と素直に感じ、そして、あの（オフレコ：天下った感じの）オッサンの顔も浮かばなくて良いのに浮かんできた。</p>

<p>人の顔は、あまりうまい言葉が思いつかないが、ものすごいメッセージを発することができる、そんなふうに感じた。</p>

<p>まだアップル信者歴3年の私だが、アップルとの出会いに感謝しているし、アップル製デバイスのない日常はもはや考えられない。そんなすばらしい世の中にしてくれたことに感謝し、ここに追悼の意を表します。</p>

<p>ちなみに、母も息を引き取る前日はかろうじて会話できていたので、スティーブ・ジョブズがiPhone 4Sの発表会を見守ることができていたのだろうと勝手に思っている。いや、そう希望している。</p>
