---
title: 雪の降る夜にフラッシュ撮影すると面白い
date: 2014-02-08
tags: Photo
---

%p んです。
%h3 ポイント
%ul
  %li フラッシュをONにして
  %li F値を小さくして
  %li 望遠で撮る
%h3 こんな写真が撮れます
- (1..7).each do |i|
  %p<
    %a{ href: "/mono/photo/20140208_#{i}.jpg" }<
      %img{ src: "/mono/photo/20140208_#{i}s.jpg", alt: i }
