---
layout: portal
---
<div class="flipsnap">
  <div class="item" id="dummy"></div>
  <div class="item">
    <img src="http://www.gravatar.com/avatar/6a90bd29df59782ff4ba039aa7cc3f8a" alt="" width="80" height="80" class="pull-right">
    <h1>Yu Nakanishi</h1>
    <%= partial 'partials/profile' %>
  </div>
  <div class="item">
    <h1>Blog</h1>
    <pre><span class="code-keyword">if</span> theme.programming_knowledge?
  <span class="code-comment"># プログラミング知識はQiitaに</span>
  redirect_to <a href="http://qiita.com/youcune?utm_source=portal&amp;utm_medium=portal&amp;utm_content=card">Qiita</a>
<span class="code-keyword">else</span>
  <span class="code-comment"># それ以外はMonologに書いています</span>
  redirect_to <a href="/mono/?utm_source=portal&amp;utm_medium=portal&amp;utm_content=card">Monolog</a>
<span class="code-keyword">end</span></pre>
  </div>
  <div class="item">
    <h1>Qiita 人気の投稿</h1>
    <ul>
      <%= qiita_posts(3) %>
    </ul>
  </div>
  <div class="item">
    <p class="pull-right"><img src="/images/portal/yasetter.png" alt="" width="128" height="128">
    <h1>やせったー</h1>
    <p>は、 SNS と連携できる体重・目標管理 Web サービスです。</p>
    <p class="text-center">
      <a href="http://yasetter.com/?utm_source=portal&amp;utm_medium=portal&amp;utm_content=card" class="btn btn-info"><i class="fa fa-flag-checkered"></i> はじめる</a>
    </p>
  </div>
  <div class="item">
    <h1><img src="/images/portal/friends-pop.png" alt="Friends-Pop" width="215" height="37"></h1>
    <p>は、 Facebook の友人の友人を検索して紹介を依頼できる Web サービスです。</p>
    <p class="text-center">
      <a href="http://friends-pop.kumonos.jp/" class="btn btn-info"><i class="fa fa-facebook-square"></i> はじめる</a>
    </p>
  </div>
  <div class="item" id="onepad">
    <h1 class="hide">OnePad<sup>2</sup></h1>
    <p>とは、登録不要でコンピュータ/スマートフォン対応、1ページだけのオンラインメモ帳 Web サービスです</p>
    <p class="text-center">
      <a href="http://onepad.anone.me/?utm_source=portal&amp;utm_medium=portal&amp;utm_content=card" class="btn btn-info"><i class="fa fa-file-o"></i> 新規作成</a>
    </p>
  </div>
  <div class="item">
    <h1>misc</h1>
    <ul class="vertical">
      <li><a href="http://xpath-tester.herokuapp.com/">XPath Tester</a></li>
      <li><a href="http://twitter.com/nazeore_bot">なぜ俺bot</a></li>
      <li><a href="http://twitter.com/ILC_bot">ILC bot</a></li>
    </ul>
  </div>
</div>
