---
title: Welcome to Middleman
layout: portal
---
<div id="cards">
  <div class="card" id="dummy"></div>
  <div class="card">
    <img src="http://www.gravatar.com/avatar/bda36e025600f9e5a400dea0a1f08db1" width="80" height="80" class="pull-right">
    <h1>Yu Nakanishi</h1>
    <ul class="vertical">
      <li><i class="fa fa-suitcase"></i>M3, Inc.</li>
      <li><i class="fa fa-globe"></i><a href="/">http://youcune.com/</a></li>
      <li><i class="fa fa-envelope"></i><a href="mailto:i@youcune.com">i@youcune.com</a></li>
    </ul>
    <ul class="list-inline" style="margin-top: 12px;">
      <li><a href="http://twitter.com/youcune"><img src="/images/mini_social_icons/twitter.png" alt="twitter" width="22" height="22"></a></li>
      <li><a href="http://plus.google.com/+YuNakanishi"><img src="/images/mini_social_icons/googleplus.png" alt="Google+" width="22" height="22"></a></li>
      <li><a href="http://facebook.com/youcune"><img src="/images/mini_social_icons/facebook.png" alt="facebook" width="22" height="22"></a></li>
      <li><a href="http://github.com/youcune"><img src="/images/mini_social_icons/github_alt.png" alt="GitHub" width="22" height="22"></a></li>
      <li><a href="http://qiita.com/youcune?utm_source=portal&amp;utm_medium=portal&amp;utm_content=social_icon"><img src="/images/mini_social_icons/qiita.png" alt="Qiita" width="22" height="22"></a></li>
    </ul>
  </div>
  <div class="card">
    <h1>Blog</h1>
    <pre><span class="code-keyword">if</span> theme.programming_knowledge?
  <span class="code-comment"># プログラミング知識はQiitaに</span>
  redirect_to <a href="http://qiita.com/youcune?utm_source=portal&amp;utm_medium=portal&amp;utm_content=card">Qiita</a>
<span class="code-keyword">else</span>
  <span class="code-comment"># それ以外はMonologに書いています</span>
  redirect_to <a href="/mono/?utm_source=portal&amp;utm_medium=portal&amp;utm_content=card">Monolog</a>
<span class="code-keyword">end</span></pre>
  </div>
  <div class="card" id="onepad">
    <h1 class="hide">OnePad<sup>2</sup></h1>
    <p>とは、登録不要でコンピュータ/スマートフォン対応、1ページだけのオンラインメモ帳Webサービスです</p>
    <p class="text-center">
      <a href="http://onepad.anone.me/?utm_source=portal&amp;utm_medium=portal&amp;utm_content=card" class="btn btn-info"><i class="fa fa-file-o"></i>新規作成</a>
    </p>
  </div>
  <div class="card">
    <h1><a href="http://yasetter.com/"><img src="/images/portal/yasetter.png" alt="yasetter" width="260" height="91"></a></h1>
    <p>Twitter対応の体重管理サービス。「昨日と比べて-1.2kg」のようにつぶやきます</p>
  </div>
  <div class="card">
    <h1>misc</h1>
    <ul class="vertical">
      <li><a href="http://twitter.com/nazeore_bot">なぜ俺bot</a> (<a href="http://anone.me/twitter/nazeore_bot/">紹介記事</a>)</li>
      <li><a href="http://twitter.com/ILC_bot">ILC bot</a></li>
    </ul>
  </div>
</div>
